*{
  box-sizing: border-box;
  max-width: 100%;

}
html,body,#app{
  width:100%;
  height: 100%;
  display:block;
}
#app{
  overflow: auto;
}
body{
  color: #333;
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  font-size: 13px;
  line-height: 1.5;
  background-color: #fff;
  font-family: Roboto, Arial, sans-serif;
  img{
    transform: scaleX(-1);
  }
}
h1, h2, h3, h4, h5, p {
  margin: 0px;
  padding: 0px;
}
#app_control{
  display: none;
}
ul li, ol li{
  list-style: none;
  text-decoration: none;
}

ul, ol, li{
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
}
.clear{
  clear: both;
}
.cach{
  clear: both;
}
#app_2{
  width: 100%;
  min-height: 100%;

}
#left_nav{
  width: 0;
  overflow: hidden;
  display: block;
  position: fixed;
  transition: 0.3s all linear;
  background-color: #f5f7fa;
  z-index: 1000;
  header .logo{

    padding: 6px;
    height: 50px;
    display: block;
    border-bottom: 1px #CCC solid;
    box-shadow: 1px 1px 8px 0px rgba(0, 0, 0, 0.15);
    img{
      height: 100%;
      transform: scaleX(1);
    }
  }

}
#app_control:checked + #app_2 #left_nav{
  width: calc(100% - 50px);
  border-right: 1px #ebebeb solid;
  height: 100vh;
  display: block;
  overflow: auto;
}
nav .navbar{
  >li{
    border-bottom: 1px #ebebeb dashed;
    >a{
      padding: 12px;
      color: #333;
      font-weight: bold;
      display: block;
    }
  }
  .login{
    margin-top: 10px;
    padding: 6px;
    //border-bottom: 1px #ebebeb dashed;
    a{
      height: 40px;
      border-radius: 2px;
      margin: 5px 0px;
      padding: 0px;
      position: relative;
      display: block;
      i{
        font-size: 20px;
        padding: 8px 17px;
        color: #ffffff;
        height: 41px;
        width: 46px;
        position: absolute;
        bottom: 0px;
      }
      span{
        position: absolute;
        color: #FFF;
        font-weight: bold;
        top: 10px;
        left: 57px;
      }
    }
    .google{
      background-color: #FF0000;
      i{
        background-color: #cc0000;
        padding-left: 13px;
      }
    }
    .face{
      background-color: #005b9c;
      i{
        background-color: #043383;
      }
    }

  }
  .post{
    padding: 6px;
    //border-bottom: 1px #ebebeb dashed;
    .btn-success{
      font-size: 14px;
      background-color: #5cb85c;
      text-align: center;
      border-radius: 3px;
      color: #ffffff;
      font-weight: bold;
      color: #ffffff;
      margin: 5px 0px;
      display: block;
      padding: 9px;
    }
  }
  .cat_project{

    padding: 12px;
    color: #333333;
    font-weight: bold;
    label a{
      color: #333333;
    }
    .sub{
      padding: 0px;
      display: none;
      li{
        display: block;
        font-weight: normal;
        padding: 6px 12px;
        a{
          color: #333333;
        }
      }
    }
  }
  .menu_live{
    padding: 6px;
    margin-left: 4px;
    margin-bottom: 80px;
    button{
      background-color: #fff;
      color: red;
      border-radius: 4px;
      padding: 6px;
      border: 1px solid #ff000099;
      font-size: 14px;
      i{
        font-size: 10px;
        padding: {
          left: 5px;
          right: 5px;
        };
      }
    }
  }
}
////mcon
//@font-face {
//  font-family: "mcon";
//  src: url(/assets/fonts/mcon.woff2) format("woff2"), url(/assets/fonts/mcon.woff) format("woff"), url(/assets/fonts/mcon.ttf) format("truetype");
//  font-weight: normal;
//  font-style: normal;
//}
//
//[class^=mcon-]:before,
//[class*=" mcon-"]:before {
//  font-weight: normal;
//  font-style: normal;
//  display: inline-block;
//  font-family: mcon;
//  speak: none;
//  text-rendering: auto;
//  -webkit-font-smoothing: antialiased;
//  -moz-osx-font-smoothing: grayscale;
//  font-variant: normal;
//  text-transform: none;
//  line-height: 1;
//}
//
//.mcon-home:before {
//  content: "\F175";
//}
//
//.mcon-globle:before {
//  content: "\F173";
//}
//
//.mcon-user:before {
//  content: "\F206";
//}
//
//.mcon-star_haft:before {
//  content: "\F27B";
//}
//
//.mcon-star:before {
//  content: "\F27C";
//}
//
//.mcon-star_full:before {
//  content: "\F27D";
//}
//
//.mcon-clock:before {
//  content: "\F337";
//}
//
//.mcon-facebook:before {
//  content: "\F343";
//}
//
//.mcon-twitter:before {
//  content: "\F360";
//}
//
//.mcon-google:before {
//  content: "\F3F7";
//}
//
//.mcon-global:before {
//  content: "\F173";
//}
//
//.mcon-pen:before {
//  content: "\F158";
//}
//
//.mcon-larow:before {
//  content: "\F2FA";
//}
//
//.mcon-rarrow:before {
//  content: "\F2FB";
//}
//
//.mcon-location:before {
//  content: "\F1AB";
//}
//
//.mcon-larrow:before {
//  content: "\F2FA";
//}
//
//.mcon-darrow:before {
//  content: "\F2F9";
//}
//
//.mcon-tarrow:before {
//  content: "\F2FC";
//}
//
//.mcon-info:before {
//  content: "\F1F8";
//}
//
//.mcon-map:before {
//  content: "\F1A8";
//}
//
//.mcon-utility:before {
//  content: "\F1E1";
//}
//
//.mcon-general:before {
//  content: "\F1E8";
//}
//
//.mcon-design:before {
//  content: "\F328";
//}
//
//.mcon-chat:before {
//  content: "\F266";
//}
//
//.mcon-heart:before {
//  content: "\F15F";
//}
//
//.mcon-email:before {
//  content: "\F15A";
//}
//
//.mcon-phone:before {
//  content: "\F2BE";
//}
//
//.mcon-investor:before {
//  content: "\F112";
//}
//
//.mcon-image:before {
//  content: "\F140";
//}
//
//.mcon-pen_under:before {
//  content: "\F22E";
//}
//
//.mcon-change:before {
//  content: "\F3AE";
//}
//
//.mcon-video:before {
//  content: "\F408";
//}
//
//.mcon-bin:before {
//  content: "\F154";
//}
//
//.mcon-menu:before {
//  content: "\F197";
//}
//
//.mcon-search:before {
//  content: "\F1C3";
//}
//
//.mcon-mcon-logout:before {
//  content: "\F1AF";
//}
//
//.mcon-upload:before {
//  content: "\F22A";
//}
//
//.mcon-cross:before {
//  content: "\F136";
//}
//
//.mcon-clock_plus:before {
//  content: "\F32B";
//}
//
//.mcon-more:before {
//  content: "\F19C";
//}
//
//.mcon-add:before {
//  content: "\F278";
//}
//
//.mcon-watch:before {
//  content: "\F3DC";
//}
//
//.mcon-tick:before {
//  content: "\F26B";
//}
//
//.mcon-q_a:before {
//  content: "\F101";
//}
//
//.mcon-contact:before {
//  content: "\F31F";
//}
.header_app{
  position: relative;
}
.top_header{
  height: 45px;
  background: linear-gradient(#fafafa, #eee)  ;
  display: flex;
  .icon_control{
    width: 50px;
    flex: none;
    padding: 8px 12px;
    i{
      color: #757575;
      font-size: 29px;
    }
  }
  #search{
    //padding: 8px 0px;
    border: 1px #cecaca solid;
    margin-top: 8px;
    margin-left: 2px;
    height: 34px;
    width: calc(100% - 100px);
    display: flex;
    input{
      width: calc(100% - 42px);
      height: 32px;
      //border: 1px #cecaca solid;
      //border-right: none;
      border: none;
      padding:{
        left: 10px;
        bottom: 3px;
      }
      outline: none;
    }
    .voice_app{
      width: 42px;
      height: 32px;
      background: #FFFFFF;
      border: none;
      //border: 1px #cecaca solid;
      //border-left: none;
      //display: inline-block;
      text-align: center;
      padding-top: 5px;
      i{
        color: #757575;
        font-size: 20px;
      }
    }
  }
  .icon_notify{
    width: 50px;
    flex: none;
    padding: 8px 12px;
    i{
      color: #757575;
      font-size: 29px;
    }
  }
}
.key_search{
  .carousel{
    padding: 3px 0px 6px 0px;
    background: #f0f0f0;
    white-space: nowrap;
    overflow-x: scroll;
    a{
      height: 30px;
      font-size: 14px;
      background-color: #ffffff;
      display: inline-block;
      padding: 5px 10px;
      margin-left: 8px;
      color: rgba(0, 0, 0, 0.54);
      border-radius: 4px;
      box-shadow: 0 1px 2px rgba(32, 33, 36, 0.28);
    }
  }
}
.content_home{
  background: #f8f8f8;
  padding: 12px 8px 0px 8px;
}
.app_listing{
  margin-top: 7px;
  width: 100%;
  display: block;
  .item{
    display: flex;
    height: 117px;
    background-color: #fff;
    position: relative;
    box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
    margin-bottom: 10px;
    border-radius: 8px;
    .info{
      width: calc(100% - 130px);
      display: block;
      padding: 8px 6px;
      position: relative;
      .title{
        display: block;
        color: #333;
        margin-bottom: 6px;
        span{
          display: -webkit-box;
          max-width: 100%;
          font-size: 15px;
          -webkit-line-clamp: 2;
          overflow: hidden;
          text-overflow: ellipsis;
          line-height: 1.4;
          max-height: 45px;
        }
      }
      .location{
        padding: 0px;
        color: #005e00;
        display: -webkit-box;
        max-width: 100%;
        max-height: 26.6px;
        font-size: 14px;
        line-height: 1.9;
        -webkit-line-clamp: 1;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .price{
        display: inline;
        font-weight: bold;
        color: #f54b4b;
        margin-right: 4px;
      }
      .date{
        font-size: 11px;
        padding-top: 3px;
        display: inline;
        opacity: 0.7;
      }
      .favourite{
        color: red;
        //position: absolute;
        //bottom: 10px;
        //right: 8px;
        font-size: 18px;
        height: 18px;
        .add-favourite{
          display: block !important;
        }
        .remove-favourite{
          display: none !important;
        }
        i{
          position: absolute;
          bottom: 10px;
          right: 8px;
        }
        i:nth-child(2){
          display: none;
        }
      }
    }
    .picture{
      width: 130px;
      border-radius: 0 8px 8px 0px;
      .img{
        height: 100%;
        width: 100%;
        display: block;
        img{
          height: 100%;
          width: 100%;
          border-radius: 8px 8px 8px 10px;
        }
      }
      .acreage{
        max-width: 130px;
        position: absolute;
        bottom: 0px;
        right: 0px;
        padding: 0 8px 1px 9px;
        background: #5cb85c;
        border-radius: 12px 0px 8px 0px;

        display: -webkit-box;
        -webkit-line-clamp: 1;
        overflow: hidden;
        text-overflow: ellipsis;
        b{
          font-size: 16px;
          color: #ffffff;
        }
      }
    }
  }
}
.footer{
  width: 100%;
  position: fixed;
  bottom: 0px;
  background-color: #f8f8f8;
  z-index: 1000;
  .menu_bottom{
    border-top: 1px solid #ddd;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    .item{
      //margin-right: 4.48%;
      a{
        font-size: 12px;
        color: #000;
        opacity: 0.5;
        i{
          display: block;
          font-size: 22px;
          margin-bottom: 2px;
          color: #8e8e8e;
          text-align: center;
        }
      }
    }
    .active{
      a,i{
        color: #5cb85c !important;
        opacity: 1;
      }
    }
  }
}
.detail_app{
  //margin: 78px 0px 0px 0px;
  padding: 0px 8px;
  background: #f8f8f8;

}
.box_breadcrumb{
  overflow-x: scroll;
  .breadcrumb{
    width: 100%;
    height: 22px;
    display: block;
    font-size: 11px;
    white-space: nowrap;
    padding:{
      top: 5px;
      left: 8px;
    }
    li{
      display: inline-block;
      a{
        color: #795548;
        i{
          font-size: 8px;
          padding: 0px 3px;
        }
      }
    }
  }
}
.detail{
  margin: 5px;
  .title{
    font-weight: bold;
    color: #005b9c;
    font-size: 14px;
    margin-top: 5px;
  }
  .info_prices{
    padding: 12px 0px;
    .price{
      color: red;
      font-weight: bold;
      padding-right: 8px;
      padding-left: 2px;
    }
    .acreage{
      font-weight: bold;
      color: #005e00;
      padding-right: 8px;
      padding-left: 2px;
    }
  }
  #customers{
    border-collapse: collapse;
    width: 100%;
    th{
      padding: 7px 5px;
      text-align: left;
      background-color: #f0f0f0;
      color: #005b9c;
      white-space: nowrap;
      border: 1px solid #ddd;
    }
    td{
      border: 1px solid #ddd;
      padding: 5px;
    }
    .lh_now{
      position: relative;
      background-color: #28bd28;
      color: #fff;
      padding: 6px 8px 6px 10px;
      border-radius: 5px;
      display: inline-block;
      margin-right: 15px;
    }
    .sms_now{
      position: relative;
      background-color: #F1AF24;
      color: #fff;
      padding: 6px 8px 6px 10px;
      border-radius: 5px;
      display: inline-block;
      margin-top: 5px;
    }
  }
  table{
    display: table;
    //border-collapse: separate;
    border-spacing: 2px;
    border: grey;
  }
  .box_contact{
    border: 1px #f1f1f1 solid;
    background: rgba(26, 255, 0, 0.08);
    border-radius: 3px;
    padding: 12px;
    padding-top: 2px;
    p strong{
      margin-right: 20px;
    }
    .box_del{
      margin-top: 5px;
      .btn-sm{
        padding: 3px 6px;
        font-size: 12px;
      }
      .btn-danger{
        color: #fff;
        line-height: 1;
        background: #ff0000;
        border: #ff0000 1px solid;
        display: inline-block;
        margin-bottom: 0;
        font-weight: bold;
        text-align: center;
        vertical-align: middle;
        touch-action: manipulation;
        cursor: pointer;
        white-space: nowrap;
        border-radius: 3px;
        margin-right: 5px;
      }
    }
  }
  .main_request{
    display: block;
    width: 100%;
    height: 80px;
    border: 2px yellow solid;
    background: #010631;
    color: yellow;
    margin-top: 10px;
    .box_request{
      label{
        float: right;
        margin: 19px 10px;
        color: #fff;
        font-size: 14px;
        line-height: 1;
        background: #ff0000;
        border: #ff0000 1px solid;
        font-weight: bold;
        text-align: center;
        vertical-align: middle;
        touch-action: manipulation;
        cursor: pointer;
        white-space: nowrap;
        padding: 10px 20px;
        border-radius: 3px;
      }
      .content_request{
        font-weight: bold;
        padding: 6px;
      }
    }
  }

}
.notices_h_mobile{
  color: #888;
  margin-top: 10px;
  margin-bottom: 80px;
  strong{
    font-size: 14px;
    margin: 0px 0 5px 0;
    display: block;
  }
  p{
    display: inline;
  }
  ol{
    display: inline;
    li{
      display: inline;
      a{
        color: #888888;
        font-weight: bold;
      }
    }
  }
}

.listing{
  margin-bottom: 65px;
}
.listing .card{
  display: block;
  width: 100%;
  border-bottom: 1px #ebebeb solid;
  .list{
    .img{
      height: 200px;
    }
    .info{
      padding: 6px;
      .name{
        font-size: 16px;
        font-weight: bold;
        padding: 6px 0px;
        display: block;
        color: #005b9c;
      }
      .teaser{
        padding: 6px 0px;
      }
      .location{
        color: #666666;
        padding: 0px;
        margin: 0px;
        overflow: hidden;
        display: -webkit-box;
        unicode-bidi: embed;
        -webkit-line-clamp: 3;
        span{

        }
      }
    }
  }
}
.listing .item{
  margin: 0px;
  padding: 6px;
  border-bottom: 1px #ebebeb solid;
  .list{
    display: flex;
    margin: 6px 0px;
    .img{
      width: 130px;
      height: 90px;
      float: left;
      flex: none;
      padding: 3px;
      border: 1px #f1f1f1 solid;
      border-radius: 3px;
      img{
        width: 100%;
        height: 100%;
      }
    }
    .info{
      padding-left: 12px;
      .name{
        display: block;
        font-weight: bold;
        color: #005b9c;
        margin-bottom: 6px;
      }
      .teaser{
        padding: 0px;
        margin: 6px 0px;
        overflow: hidden;
        display: -webkit-box;
        unicode-bidi: embed;
        -webkit-line-clamp: 2;
      }
      .location{
        color: #555;
        padding: 0px;
        margin: 0px;
        overflow: hidden;
        display: -webkit-box;
        unicode-bidi: embed;
        -webkit-line-clamp: 3;
      }
    }
  }
}
.box_proj_info{
  .name{
    font-weight: bold;
    color: #005b9c;
    font-size: 24px;
  }
  p strong{
    width: 110px;
    display: inline-block;
  }
}
.project_detail{
  margin-top: 12px;
}
.project_detail #tab_1{

}
.slides{
  padding: 8px;
  width: 100%;
  float: left;
  border: 1px #ebebeb solid;
  background: #ffffff;
  .big{
    position: relative;
    .item{
      display: none;
      position: absolute;
      left: 0px;
      top: 0px;
      width: 100%;
      height: 100%;
      img{
        width: 100%;
        height: 100%;
      }
    }
    .on{
      display: block;
      z-index: 999;
      position: relative;
    }
  }
  .small{
    width: 100%;
    height: 70px;
    //overflow: hidden;
    padding: 5px;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    .item{
      width: 20%;
      height: 40px;
      //float: left;
      overflow: hidden;
      margin: 5px;
      display: inline-block;
      img{
        width: 100%;
        height: 100%;
      }
    }
  }
}
.project_detail {
  .project_label{
    font-size: 20px;
    margin: 12px 0px 6px 6px;
    color: #005b9c;
    font-weight: 600;
    display: inline-block;
  }
  .general .info{
    padding-left: 6px;
    h2{
      font-weight: 500;
      margin: 6px 0px;
    }
  }
}
.other_projects{
  .project_label{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    display: inline-block;
    border-bottom: 2px solid #FF6600;
    margin: 6px;
    color: #FF6600;
  }
}
.other_projects .listing .item{
  margin: 0px;
  padding: 6px 6px 10px 6px;
  border-bottom: 1px #ebebeb solid;
  .title{
    font-weight: bold;
    color: #005b9c;
    font-size: 14px;
  }
  >div{
    display: flex;
    margin: 6px 0px;
    .img{
      width: 130px;
      height: 90px;
      float: left;
      flex: none;
      padding: 3px;
      border: 1px #f1f1f1 solid;
      border-radius: 3px;
      img{
        width: 100%;
        height: 100%;
      }
    }
    .info{
      padding-left: 12px;
      .acreage{
        display: block;
      }
      .address{
        display: block;
      }
    }
  }
}
.compare_detail_app{
  margin-bottom: 64px;
}
.compare_title{
  font-size: 15px;
  font-weight: 600;
  text-align: center;
  color: #005b9c;
  padding: 6px 0px;
}
.proj_compare .active{
  margin: 6px;
  position: relative;
}
.proj_compare{
  .project_label{
    font-weight: 700;
    font-size: 15px;
    border-bottom: 2px solid #FF6600;
    color: #005b9c;
    display: inline-block;
    margin-top: 12px;
  }
  .cmp_tabs{
    max-height: 100px;
    overflow: hidden;
    .cmp_item{
      margin: 10px 0px;
      h2{
        font-size: 14px;
        color: #FF6600;
        margin: 6px 0px;
      }
    }
  }
  .cmp_full{
    width: 100%;
    text-align: center;
    background: linear-gradient(transparent, #fff, #fff);
    display: block;
    position: absolute;
    font-weight: bold;
    bottom: 0px;
    left: 0px;
    .btn-sm{
      margin-top: 20px;
      padding: 3px 6px;
      font-size: 12px;
    }
    .btn-info {
      color: #fff;
      line-height: 1;
      background: #03A9F4;
      border: #03A9F4 1px solid;
      display: inline-block;
      margin-bottom: 0;
      font-weight: bold;
      text-align: center;
      vertical-align: middle;
      touch-action: manipulation;
      cursor: pointer;
      white-space: nowrap;
      border-radius: 3px;
    }
  }
}
.proj_compare .tab_1{
  .box_proj_info{
    width: 50%;
    float: left;
    padding-left: 5px;
    .name{
      font-size: 14px;
      color: #FF6600;
      font-weight: 600;
      margin: 6px 0px;
      border-bottom: 1px solid #CCC;
    }
    p{
      padding: 5px 0px;
      strong{
        color: #005b9c;
        display: inline;
      }
    }
  }
}
.proj_compare .tab_2{



}
.proj_compare .tab_3{
  .cmp_tabs{
    .cmp_item{
      .inv_img{
        width: 30%;
        float: left;
        flex: none;
        padding: 3px;
        border: 1px #f1f1f1 solid;
        border-radius: 3px;
      }
      .inv_info{
        margin-left: 12px;
        width: 64%;
        display: inline-block;
        .inv_name{
          font-size: 14px;
          color: #FF6600;
          margin: 6px 0px;
        }
        p i{
          width: 15px;
          margin-right: 5px;
        }
      }
    }
  }
}
.proj_compare #tab_6{
  .cmp_tabs{
    max-height: none;
  }
}
.body_login{
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.32);
}
.form-signin{
  width: 80%;
  max-width: 311px;
  height: 265px;
  padding: 15px;
  margin: auto;
  background-color: #fff;
  box-shadow: 0px 1px 16px rgba(0, 0, 0, 0.45);
  border-radius: 12px;
  .hide_login{
    text-align: right;
    a i{
      margin: 0;
      font-size: 18px;
      color: lightslategrey;
    }
  }
  .text-center{
    margin-bottom: 35px;
    text-align: center;
  }
  .bt_h{
    text-align: left;
    padding-left: 5%;
  }
  .btn-lg{
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
  }
  .btn-primary{
    color: #fff;
    background-color: #3A559F;
    border-color: #3A559F;
  }
  .btn-danger{
    color: #fff;
    background-color: #DD4B39;
    border-color: #DD4B39;
  }
  .btn-block {
    display: block;
    width: 100%;
    margin-bottom: 5px;
  }
  i{
    margin-right: 10px;
  }
}

#close_menu i{
  display: none;
}
#app_control:checked + #app_2 #close_menu{
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  background: rgba(0, 0, 0, 0.4);
  cursor: pointer;
  z-index: 500;

  i{
    display: block;
    position: absolute;
    right: 7px;
    z-index: 500;
    color: #FFFFFF;
    font-size: 35px;
    top: 6px;

  }
}


.select_con_filter{
  position: relative;
  height: 32px;
  //margin-bottom: 6px;
  i:first-child{
    position: absolute;
    top: 10px;
    left: 9px;
    color: #8e8e8ed9;
    z-index: 2;
  }
  i:last-child{
    position: absolute;
    top: 7px;
    right: 9px;
    color: #888;
    z-index: 2;
  }
  input{
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 2px;
    padding: 2px 20px 2px 36px;
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 1;
    color: #333;
    font-size: 13px;
  }
}
.select_app{
  margin-bottom: 5px;
}
.select_app:last-child{
  display: none;
}
.con_filter{
  width: 100%;
  border: 1px solid #ddd;
  background: #fff;
  height: 200px;
  overflow-y: scroll;
  color: #666;
  display: none;

  li{
    height: 28px;
    position: relative;
    padding:{
      top: 5px;
      left: 10px;
    }
    i{
      position: absolute;
      font-size: 10px;
      right: 9px;
      top: 8px;
    }
  }
  li:hover{
    color: #ffffff;
    background: #0083ff;
  }
}
.box_filter{

}
.filter_condition{
  width: 100%;
  position: relative;
  margin-bottom: 5px;
  i{
    position: absolute;
    color: #8e8e8ed9;
    z-index: 2;
    padding:{
      top: 10px;
      left: 9px;
    }

  }
  select{
    height: 32px;
    position: relative;
    width: 100%;
    z-index: 1;
    padding-left: 30px;
    border: 1px solid #ddd;
    color: #333;
    background-color: #FFFFFF;
  }

}

.pagination_app {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 70px;
  li{
    padding: 2px;
    a{
      display: block;
      padding: 8px 15px;
      color: #000;
    }
  }
  .active_pagi{
    color: #fff;
    background-color: #5cb85c;
    border-radius: 5px;
  }
}
.active_cate{
  background-color: #5cb85c !important;
  color: #FFFFFF !important;
}

/* The Modal (background) */
.modal {
  display: block; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 90%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close {
  color: white;
  font-size: 18px;
  font-weight: bold;
  position: absolute;
  top: 10px;
  right: 7px;
  line-height: 0;

}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  position: relative;
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
  display: flex;
  justify-content: flex-end;
  padding: 5px 16px;
  background-color: white;
  border-top: 1px solid #cccccc;
  color: white;
  button{
    padding: 5px 7px;
    border: none;
    font-weight: bold;
  }
  .modal-btn-submit{
    margin-right: 10px;
    border: none;
    color: white;
    background: #005b9c;
  }
}
.alert-favourite{
  width: 100%;
  position: fixed;
  bottom: 100px;
  .alertlike, .alertdislike{
    display: none;
    font-size: 14px;
    color: #FFFFFF;
    width: 75%;
    text-align: center;
    padding: 9px 30px;
    background: #000;
    opacity: 0.8;
    border-radius: 35px;
    margin: auto;
  }
}
#popup_voice{
  width: 100%;
  height: auto;
  position: absolute;
  /*background: #FFFFFF;*/
  top: 170px;
  text-align: center;
  z-index: 10;


  #content_voice{
    button.voice_call_again {
      color: #fff;
      background-image: linear-gradient(to right, #005689, #006b9b, #007baa, #0078a8, #00588b);
      padding: 8px 15px;
      border-radius: 6px;
      border: 0px;
      font-size: 14px;
    }
    .voice_animate{
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: space-between;
      width: 2em;
      span {
        width: 0.3em;
        height: 0.5em;
        background-color: #d4c6c6;
      }

      span:nth-of-type(1) {
        animation: grow 1s -0.45s ease-in-out infinite;
      }

      span:nth-of-type(2) {
        animation: grow 1s -0.3s ease-in-out infinite;
      }

      span:nth-of-type(3) {
        animation: grow 1s -0.15s ease-in-out infinite;
      }

      span:nth-of-type(4) {
        animation: grow 1s ease-in-out infinite;
      }

      @keyframes grow {
        0%,
        100% {
          transform: scaleY(1);
        }

        50% {
          transform: scaleY(2);
        }
      }
    }
  }
  .circle {
    height: 100px;
    position: relative;
    -webkit-transition: 1s all 1s;
    -moz-transition: 1s all 1s;
    -o-transition: 1s all 1s;
    transition: 1s all 1s;
    transition-timing-function: ease;
  }
  .circle-item {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 1px solid #cc181e;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
  }
  .circle-icon {
    width: 25px;
    height: 25px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    fill: #cc181e;
  }
  .circle-one {
    animation: like-a-sound 2s infinite;
  }
  .circle-two {
    animation: like-a-sound 3s infinite;
    animation-delay: 1s;
  }
  .circle-tree {
    animation: like-a-sound 5s infinite;
    animation-delay: 2s;
  }
  @keyframes like-a-sound {
    0% {
      transform: scale(0);
      opacity: 0;
    }
    50% {
      opacity: 1;
      transform: scale(0.8);
    }
    75% {
      opacity: 0.5;
      transform: scale(1);
    }
    100% {
      opacity: 0;
      transform: scale(1);
    }
  }


  /*.popup {*/
  /*position: fixed;*/
  /*top: 0;*/
  /*bottom: 0;*/
  /*left: 0;*/
  /*right: 0;*/
  /*display: none;*/
  /*z-index: 3;*/
  /*}*/

  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #000;
    opacity: 0.7;
    z-index: 4;
  }

  .main-popup {
    /*position: fixed;*/
    background-color: #fff;
    z-index: 100;
    width: 320px;
    height: 210px;
    margin: auto;
    /*text-align: center;*/
    /*top: 30%;*/
    /*margin-top: 30%;*/
    transform: translateY(-10%);
    border-radius: 12px;
    .title_modal {
      text-align: center;
      background-image: linear-gradient(to right,#005689,#006b9b,#007baa,#0078a8,#00588b);
      color: #fff;
      padding: 14px 0px;
      font-size: 16px;
      border-radius: 6px 0 0 0px;
    }
    .content_voice {
      justify-content: center;
      display: flex;
      padding: 10px 15px 15px 15px;
      font-size: 16px;
      color: #333;
    }
  }

  .close {
    position: absolute;
    right: -11px;
    top: -8px;
    background-color: #fff;
    width: 25px;
    height: 25px;
    padding: 12px 8px;
    border-radius: 100%;
    font-size: 14px;
    color: mediumvioletred;
  }

  a.close:focus {
    background-color: #142727;
    color: white;
  }

}
#popup_voice_fullscr{
  width:100%;
  height:1000px;
  background:#000000;
  opacity:0.8;
  position:absolute;
  top: 0px;
  z-index:9;
}















































