<!DOCTYPE html>
<html lang="vi">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>cli_demo</title>
    <title>So sánh nhà</title>
    <link rel="stylesheet" href="/fontawesome-free-5.3.1-web/css/all.min.css">
    <!--<script src="/js/index.js"></script>-->
    <style>
      *{
        -webkit-box-orient: vertical;
      }
    </style>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but cli_demo doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
