<template>
  <div class="content_home">
    <select-filter></select-filter>
    <list-classifieds :data="data"></list-classifieds>
  </div>

</template>

<script>
    import ListClassifieds from '../components/ListClassifieds'
    import SelectFilter from '@/components/SelectFilter'
    export default {
        name: "Category",
        props:['data'],
        components:{
            ListClassifieds,
            SelectFilter
        }
    }
</script>
