<template>
    <div class="detail_app">
        <div class="box_proj_info">
            <h1 class="name">{{data.title}}</h1>
            <p><strong>Tên dự án:</strong>{{data.name}}</p>
            <p><strong>Chủ đầu tư:</strong>{{data.inv_name}}</p>
            <p><strong>Vị trí:</strong> {{data.address}}</p>
            <p><strong>Quy mô dự án:</strong> {{data.overview}}</p>
            <p><strong>Loại hình dự án:</strong> {{data.cat_name}}</p>
        </div>
        <div class="project_detail">
            <div id="tab_1" class="project_info tab_1 active active_tab">
                <div class="slides">
                    <div class="big">
                        <label  class="img item item_0 on">
                            <img id="big" v-lazy="data.picture.full[0]">
                        </label>
                    </div>
                    <div class="small">
                        <label v-for="pic_full in data.picture.full" class="img item item_0">
                            <img v-lazy="pic_full" v-on:click="clickPicture(pic_full)">
                        </label>
                        <label v-for="pic_full in data.picture.full" class="img item item_0">
                            <img v-lazy="pic_full" v-on:click="clickPicture(pic_full)">
                        </label>

                    </div>
                </div>
            </div>
            <div class="clear"></div>
            <div id="tab_2" data-pos="2" class="tab_2 active">
                <div class="project_label"> Tổng quan dự án</div>
                <div class="general">
                    <div class="info" v-html="data.intro">
                    </div>
                </div>
            </div>
            <div id="tab_3" data-pos="3" class="tab_3 active">
                <div class="project_label"> Vị trí dự án</div>
                <div class="general">
                    <div class="info" v-html="data.position">

                    </div>
                </div>
            </div>
            <div id="tab_4" data-pos="4" class="tab_4 active">
                <div class="project_label"> Tiện ích</div>
                <div class="general">
                    <div class="info" v-html="data.infrastructure">

                    </div>
                </div>
            </div>
            <div id="tab_5" data-pos="5" class="tab_5 active">
                <div class="project_label"> Thiết kế</div>
                <div class="general">
                    <div class="info">
                        <p v-for="pic_template in data.template.full">
                            <img v-lazy="pic_template">
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="other_projects">
            <span class="project_label">Có thể bạn quan tâm</span>
            <ul class="listing">
                <li class="item">
                    <a class="title" href="#" title="Bán đất mặt tiền Xô Xoài 45m-TP BR-VT,500m2= 1,5 tỉ,SHR">Bán đất mặt tiền
                        Xô Xoài 45m-TP BR-VT,500m2= 1,5 tỉ,SHR</a>
                    <div class="">
                        <a class="img" href="#" title="Bán đất mặt tiền Xô Xoài 45m-TP BR-VT,500m2= 1,5 tỉ,SHR">
                            <img src="https://media.sosanhnha.com/thumb/150/2019/06/1560391996-picture73371.jpg" alt="Bán đất mặt tiền Xô Xoài 45m-TP BR-VT,500m2= 1,5 tỉ,SHR">
                        </a>
                        <span class="info">
                                <span class="acreange">
                                    <b>Diện tích</b>: 500m²
                                </span>
                                <span class="address">
                                    <b>Địa chỉ</b>: Đường Mô Xoài, Bà Rịa - Vũng Tàu
                                </span>
                            </span>
                    </div>
                </li>
                <li class="item">
                    <a class="title" href="#" title="Bán đất mặt tiền Xô Xoài 45m-TP BR-VT,500m2= 1,5 tỉ,SHR">Bán đất mặt tiền
                        Xô Xoài 45m-TP BR-VT,500m2= 1,5 tỉ,SHR</a>
                    <div class="">
                        <a class="img" href="#" title="Bán đất mặt tiền Xô Xoài 45m-TP BR-VT,500m2= 1,5 tỉ,SHR">
                            <img src="https://media.sosanhnha.com/thumb/150/2019/06/1560391996-picture73371.jpg" alt="Bán đất mặt tiền Xô Xoài 45m-TP BR-VT,500m2= 1,5 tỉ,SHR">
                        </a>
                        <span class="info">
                                <span class="acreange">
                                    <b>Diện tích</b>: 500m²
                                </span>
                                <span class="address">
                                    <b>Địa chỉ</b>: Đường Mô Xoài, Bà Rịa - Vũng Tàu
                                </span>
                            </span>
                    </div>
                </li>
            </ul>
        </div>
        <div class="other_projects">
            <span class="project_label">So sánh với các dự án cùng khu vực</span>
            <ul class="listing">
                <li v-for="prc in pro_compare" class="item">
                    <div class="">
                        <router-link :to="prc.rewrite" class="img" v-bind:title="prc.title">
                            <img v-lazy="prc.picture[prc.max_id].url" alt="Nên mua Gia Long Villas Mini hay khu thương mại dịch vụ nhà ở hoàn cầu">
                        </router-link>

                        <span class="info">
                            <!--<a class="title" href="#" title="Nên mua Gia Long Villas Mini hay khu thương mại dịch vụ nhà ở hoàn cầu">{{prc.title}}</a>-->
                            <router-link :to="prc.rewrite" class="title" v-bind:title="prc.title">{{prc.title}}</router-link>
                            <span>~ 2388m</span>
                        </span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</template>
<script>
    import {ApiGet} from '../helper/api'
    export default {
        props:['data'],
        data(){
          return{
            pro_compare: [],
            id_proc: this.data
          }
        },
        mounted(){
          this.get_pro_compare();
        },
        methods:{
            clickPicture(src){
                document.getElementById('big').setAttribute("src", src);
            },
        get_pro_compare(){
            ApiGet('projects-compare',{fields:'title,picture,rewrite,max_id',limit:10,where:`min_id+${this.id_proc.id}`}).then(res => {
                // console.log(res);
                this.pro_compare = res.data;
                // console.log(this.pro_compare);
            }).catch(error => {
                console.error(error);
            })
        }
        }
    }
</script>