<template>
    <div class="detail_app">
        <div class="box_breadcrumb">
            <ul class="breadcrumb">
                <li v-for="br in bread_crumb">
                    <router-link :to="br.rew_rewrite">
                        {{br.rew_title}}
                        <i class="fas fa-chevron-right"></i>
                    </router-link>
                </li>
                <li>
                    <router-link :to="`/${data.rewrite}`">
                        {{data.title}}
                    </router-link>
                </li>
            </ul>
        </div>
        <div class="detail">
            <h1 class="title">{{data.title}}</h1>
            <div class="info_prices">
                <b>Giá: </b>
                <span class="price">{{data.price}}</span>
                <b>Diện tích:</b>
                <span class="acreage">{{data.list_acreage}}m²</span>
                <b>Mã tin:</b>
                <span>{{data.id}}</span>
            </div>
            <div class="favorite_app">
                <label class="btn_save_ad like_5337276 detail" data-ufr="588" v-on:click="changeFavourite(data)">
                    <span class="txt_fav saved">{{data.use_favorite == 1? 'Đã lưu' : 'Lưu tin' }}</span>
                    <i :id="`${data.id}`" :class="data.use_favorite == 1 ? 'liked' : ''" class="far fa-heart" ></i>
                </label>
            </div>
            <div class="description">
                <h2>Bán nhà biệt thự, liền kề</h2>
                <span v-html="data.description"></span>
                <table id="customers">
                    <caption><h3> Bán nhà biệt thự, liền kề </h3></caption>
                    <tbody>
                    <tr>
                        <th>Địa chỉ:</th>
                        <td>{{data.address}}</td>
                    </tr>
                    <tr>
                        <th>Giá:</th>
                        <td>{{data.price}}</td>
                    </tr>
                    <tr>
                        <th>Diện tích:</th>
                        <td>{{data.list_acreage}}m²</td>
                    </tr>
                    <tr>
                        <th>Liên hệ:</th>
                        <td>{{data.contact_name}}</td>
                    </tr>
                    <tr>
                        <th></th>
                        <td>
                            <a class="lh_now" :href="`tel:${data.phone}`">
                                <i class="fas fa-phone-volume"></i>
                                Gọi ngay
                            </a>
                            <a class="sms_now"
                               :href="`sms:${data.phone}?body=Hi! Tôi quan tâm ${data.title} tại https://sosanhnha.com/cla/${getClaID(data.rewrite)}`">
                                <i class="far fa-comment-dots"></i>
                                Gửi SMS
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <th>Số ĐT:</th>
                        <td>{{data.phone}}</td>
                    </tr>
                    <tr>
                        <th>Số tầng:</th>
                        <td>5 Tầng</td>
                    </tr>
                    <tr>
                        <th>Mặt tiền:</th>
                        <td>5 M</td>
                    </tr>
                    </tbody>
                </table>
                <div class="box_contact">
                    <div>
                        <p>
                            <strong>Ngày đăng: </strong>
                            <span>{{data.date}}</span>
                        </p>
                    </div>
                    <div class="box_del">
                        <!--<a class="btn-danger btn-sm" href="#" title="xác nhận đã bán" rel="nofollow">xác nhận đã bán</a>-->
                        <a class="btn-danger btn-sm" href="#" title="muốn xóa" rel="nofollow"  @click="deleteClassified2(data)">Yêu cầu xóa tin</a>
                    </div>
                </div>
                <div class="main_request" v-if="show_contact">
                    <div id="box_request" class="box_request">
                        <label class="btn-danger" @click="checkContact()">Đúng</label>
                        <div class="content_request"> Bạn muốn {{title_contact}} tại {{address_contact}} ?</div>
                    </div>
                </div>
                <span class="detail_photo" v-for="picture in data.picture">
                    <img v-if="picture.type=='photo'" v-lazy="picture.url">
                </span>
                <ul>
                    <h3 v-for="br in bread_crumb">
                        <router-link :to="br.rew_rewrite">
                            <span>{{br.rew_title}}</span>
                        </router-link>
                    </h3>

                </ul>
            </div>
            <div class="notices_h_mobile">
                <strong>Lưu ý:</strong>
                <p>Các bạn đang xem tin đăng trong mục "</p>
                <ol class="breadcrumb_mobile">
                    <li v-for="br in bread_crumb">
                        <router-link :to="br.rew_rewrite">
                            <span>{{br.rew_title}}.</span>
                        </router-link>
                    </li>
                </ol>
                <p>". Các thông tin rao vặt là do người đăng tin đăng tải toàn bộ thông tin. Chúng tôi hoàn toàn
                    không chịu trách nhiệm về bất cứ thông tin nào liên qua đến các thông tin này. Chúng tôi luôn cố
                    gắng để đưa các tin tức nhanh và chính xác nhất cho các bạn.</p></div>
        </div>
        <model-delete-classified v-if="model_delete.open" :model_data="model_delete"></model-delete-classified>
        <modal-user-contact v-if="model_contact.open" :model_data="model_contact"></modal-user-contact>
    </div>
</template>

<script>
    import {ApiGet,ApiPost,ApiDelete} from '../helper/api'
    import ModelDeleteClassified from "../components/ModelDeleteClassifield.vue"
    import ModalUserContact from "../components/UserContact.vue"
    // import {MixinDemo} from '../helper/mixin'

    export default {
        // mixins: [MixinDemo],
        props: ['data','setStatusLeftNav'],
        // name:'Chitiet',
        components:{
            ModelDeleteClassified,
            ModalUserContact
        },
        data() {
            return {
                bread_crumb: [],
                model_delete:{
                    open:false,
                    data:null
                },
                model_contact:{
                  open:false,
                  data:null
                },
                location:null,
                show_contact:false,
                rewrite_cache_redis: null,
                title_cache_redis: null
            }
        },
        computed: {
            user_info: function () {
                return this.$store.getters.GET_USER_INFO;
            },
            login: function () {
                return this.$store.getters.GET_LOGIN;
            },
            categories: function(){
                return this.$store.getters.GET_CATEGORIES;
            },
            title_contact:function(){
                var title = '';
                this.categories.forEach(item=>{
                   if(item.id==this.data.cat_id){
                       title = item.name_guest;
                       return false;
                   }
                });
                return title;
            },
            client_id:function(){
                return this.$store.getters.GET_CLIENT_ID;
            },
            address_contact:function(){
                if(this.location!=null&& typeof  this.location.cit_name!= "undefined"){
                    if(this.location.ward_name!=null){
                        return this.location.ward_name;
                    }else if(this.location.dis_name!= null){
                        return this.location.dis_name;
                    }else if(this.location.cit_name != null){
                        return this.location.cit_name;
                    }else{
                        return '';
                    }
                }
            },
            access_token: function(){
                return this.$store.getters.GET_ACCESS_TOKEN;
            },
            login:function(){
                return this.$store.getters.GET_LOGIN;
            }
        },
        mounted() {
            this.get_breadcrumb();
            this.getLocation();
            this.checkContactExist();
        },
        methods: {
            checkContact(){
                var data_post = {type:'check_contact',guest_id:this.client_id,cla_id:this.data.id};
                if(this.login){
                    data_post.user_id = this.user_info.id;
                }
                ApiPost(`user-contacts`,data_post).then(res=>{
                    this.model_contact.data = {
                        secret_key: res.data.secret_key,
                        user_phone: res.data.has_phone?res.data.phone:'',
                        type:'classified_request',
                        guest_id:this.client_id
                    }
                    if(this.model_contact.data.user_phone!=''){
                        this.sendContact();
                    }else{
                        this.model_contact.open = true;
                    }

                }).catch(error=>{
                    console.error('check_contact:',error.message);
                })
            },
            get_breadcrumb() {
                ApiGet('rewrites/bread-crumb?id=' + this.data.rew_id + '&project_id=' + this.data.proj_id + '&client_token=' + this.$store.getters.GET_CLIENT_TOKEN).then(res => {
                    this.bread_crumb = res.data;
                }).catch(error => {
                    console.error(error);
                })
            },
            checkContactExist(){
                ApiGet('user-contacts',{fields:'id',where:`rew_id+${this.data.rew_id},guest_id+${this.client_id}`}).then(res=>{
                    if(res.data.per_page!=0){
                        this.show_contact = false;
                    }else{
                        this.show_contact = true;
                    }
                }).catch(error=>{
                    console.error('error check contact:',error);
                })
            },
            sendContact(){
                ApiPost('user-contacts',this.model_contact.data).then(res=>{
                    alert('Gửi thông tin thành công!');
                }).catch(error=>{
                    console.error('error send contact:',error.message);
                })
            },
            deleteClassified2(classified){
                this.model_delete.data = {
                    cla_id: classified.id,
                    cla_use_id: classified.use_id,
                    cla_type: classified.type
                };
                this.model_delete.open = true;
            },
            getClaID(rewrite) {
                rewrite = rewrite.split("-");
                rewrite = rewrite[rewrite.length - 1];
                rewrite = rewrite.replace('cla', '');
                return rewrite;
            },
            getLocation(){
                ApiGet(`locations?where=cit_id+${this.data.cit_id},dis_id+${this.data.dis_id},ward_id+${this.data.ward_id},street_id+0&fields=address,cit_name,dis_name,ward_name`).then(res=>{
                    if(typeof res.data[0] != "undefined"){
                        this.location = res.data[0];
                    }
                }).catch(e=>{
                    console.error('api location error:',e.message);
                });
            },
            changeFavourite(cla) {
                if(this.login){
                    if (cla.use_favorite==1){
                        cla.use_favorite = 0;
                        document.getElementsByClassName('alertdislike')[0].style.display = 'block';
                        setTimeout(function(){
                            document.getElementsByClassName('alertdislike')[0].style.display = 'none';
                        }, 1000);
                        ApiDelete('users-favorite/'+cla.id,{access_token: this.$store.getters.GET_ACCESS_TOKEN,type:'id_classified'}).then(response=>{
                            console.log('deleted');
                        }).catch(error=>{
                            console.error(error);
                        })

                    }else{
                        cla.use_favorite =1;
                        document.getElementsByClassName('alertlike')[0].style.display = 'block';
                        setTimeout(function(){
                            document.getElementsByClassName('alertlike')[0].style.display = 'none';
                        }, 1000);
                        ApiPost('users-favorite',{cla_id:cla.id, access_token: this.$store.getters.GET_ACCESS_TOKEN}).then(response=>{
                            this.id_del = response.data.usf_id;
                            console.log(response.data);
                        }).catch(error=>{
                            console.error(error);
                        })
                    }
                }else{
                    // this.setStatusLeftNav(true);
                    this.setStatusLeftNav(true);
                    alert('Bạn vui lòng đăng nhập để sử dụng chức năng này');
                    return false;
                }
            },
            postCacheRedis($rewrite, $title){
                // ApiPost('post_cache_redis')
            }

        }
    }
</script>
<style lang="scss">
    .favorite_app {
        text-align: right;
        margin-bottom: 6px;
        .btn_save_ad {
            border-radius: 12px;
            border: 1px solid #da291c;
            color: #da291c;
            padding: 5px 30px 5px 10px;
            font-size: 14px;
            position: relative;
            .txt_fav saved{
                position: absolute;
            }
            i.fa-heart{
                color:#da291c;
                font-size: 18px;
                margin-left: 5px;
                position: absolute;
            }
            .fa-heart.liked{
                color:#da291c !important;
                &:before{
                    content: "\f004";
                    font-weight: 900;
                }
            }
        }
    }
</style>