<template>
    <div class="listing listing_project_app" v-if="data!=null">
        <div class="card" >
            <div class="list">
                <router-link class="img" :to="data.projects[0].rewrite">
                    <img v-lazy="data.projects[0].picture[0].url">
                </router-link>
                <div class="info">
                    <router-link v-bind:title="data.projects[0].title" class="name" :to="data.projects[0].rewrite">
                        <span>{{data.projects[0].title}}</span>
                    </router-link>
                    <p class="teaser">{{data.projects[0].address}}</p>
                    <span class="location">
                            <span>{{data.projects[0].teaser}}</span>
                        </span>
                </div>
            </div>
        </div>
        <div v-for="(project,index) in data.projects.slice(1,29)" :key="index" class="item">
            <div class="list">
                <router-link :to="project.rewrite" class="img" v-bind:title="project.title" >
                    <img alt="Thăng Long Home" v-lazy="project.picture[0].url">
                </router-link>
                <div class="info">
                    <router-link :to="project.rewrite" v-bind:title="project.title" class="name">
                        <span>{{project.title}}</span>
                    </router-link>
                    <p class="teaser">{{project.address}}</p>
                    <span class="location">
                            <span>{{project.teaser}}</span>
                        </span>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        props:['data']
    }
</script>