<template>
    <div class="content_home">
        <!--<app-filter></app-filter>-->
        <select-filter></select-filter>
        <list-classifieds :setStatusLeftNav="setStatusLeftNav" :data="data"></list-classifieds>
        <loading v-if="loading"></loading>

    </div>
</template>
<script>
    import Filter from '@/components/Filter'
    import SelectFilter from '@/components/SelectFilter'
    import ListClassifieds from '../components/ListClassifieds'
    import Loading from "../components/PageLoading"
    import {ApiGet} from "../helper/api"

    export default {
        props: ['setStatusLeftNav'],
        asyncData: function (resolve, reject) {
            // load data and call resolve(data)
            // or call reject(reason) if something goes wrong
            setTimeout(function () {
                // this will call `vm.$set('msg', 'hi')` for you
                resolve({
                    msg: 'hi'
                })
            }, 1000);
            console.log('func async');
            return {demo_async:324};
        },
        components: {
            AppFilter: Filter,
            SelectFilter: SelectFilter,
            ListClassifieds,
            Loading
        },
        data(){
          return {
              data:null,
              pathCheck: '',
              loading:false
          }
        },
        computed:{
            access_token: function(){
                return this.$store.getters.GET_ACCESS_TOKEN;
            }
        },
        mounted() {
            this.loading = true;
            this.pathCheck = 'index';
            ApiGet('classifieds',{fields:'id,title,rewrite,price,picture,date,address,list_acreage,has_picture,user_favorite', access_token:this.access_token}).then(response=>{
                this.data = response.data;
                this.loading = false;
            }).catch(error=>{
                this.loading = false;
                console.error(error);
            })
        },
    }
</script>
