<template>
    <div class="content_home">
        <select-filter></select-filter>

        <ul class="app_listing"  v-if="list_app_filter != null && icat != null">
            <li class="item " v-for="(hn,index) in list_app_filter.classifieds" :key="index">
                <div class="info">
                    <router-link class="line-clamp title" :to="hn.rewrite">
                        <span>{{hn.title}}</span>
                    </router-link>
                    <span class="location">{{hn.address}}</span>
                    <span class="price">{{hn.price}}</span>
                    <span class="date">{{hn.date}}</span>
                    <span class="favourite">
                        <i :id="`${hn.id}`" :class="hn.use_favorite == 1 ? 'liked' : ''" class="far fa-heart" v-on:click="changeFavourite(hn)"></i>
                    </span>
                </div>
                <a class="picture" href="" rel="nofollow" title="">
                            <span class="img">
                                <img v-if="hn.has_picture != 0" v-lazy="hn.picture"  alt="">
                                <img v-if="hn.has_picture == 0" src="/images/noimage2.png"  alt="">
                            </span>
                    <span class="acreage"><b>{{hn.list_acreage}}m<sup>2</sup></b></span>
                </a>
            </li>
        </ul>
        <ul class="app_listing"  v-if="list_app_search != null">
            <li class="item " v-for="(hn,index) in list_app_search.classifieds" :key="index">
                <div class="info">
                    <router-link class="line-clamp title" :to="hn.rewrite">
                        <span>{{hn.title}}</span>
                    </router-link>
                    <span class="location">{{hn.address}}</span>
                    <span class="price">{{hn.price}}</span>
                    <span class="date">{{hn.date}}</span>
                    <span class="favourite">
                        <i :id="`${hn.id}`" :class="hn.use_favorite == 1 ? 'liked' : ''" class="far fa-heart" v-on:click="changeFavourite(hn)"></i>
                    </span>
                </div>
                <a class="picture" href="" rel="nofollow" title="">
                            <span class="img">
                                <img v-lazy="hn.picture"  alt="">
                            </span>
                    <span class="acreage"><b>{{hn.list_acreage}}m<sup>2</sup></b></span>
                </a>
            </li>
        </ul>
        <ul  class="pagination_app">
            <li v-if="current_page >= 3">
                <a v-on:click="current_page = 1" class="active_pagi">
                    <i class="fas fa-angle-double-left"></i>
                </a>
            </li>
            <li v-if="current_page > 3">
                <a v-on:click="current_page -= 3">{{current_page - 3}}</a>
            </li>
            <li v-if="current_page > 2">
                <a v-on:click="current_page -= 2">{{current_page - 2}}</a>
            </li>
            <li v-if="current_page > 1">
                <a v-on:click="current_page -= 1">{{current_page - 1}}</a>
            </li>
            <li>
                <a class="active_pagi">{{current_page}}</a>
            </li>
            <li>
                <a v-on:click="current_page += 1">{{current_page + 1}}</a>
            </li>
        </ul>
    </div>
</template>
<script>
    import SelectFilter from '@/components/SelectFilter'
    import {ApiGet,ApiPost,ApiDelete} from '../helper/api'
    export  default {
        props: ['setStatusLeftNav'],
        data(){
            return{
                current_page: 1,
                icat: this.$route.query.iCat,
                list_app_search: []
            }
        },
        components:{
            SelectFilter: SelectFilter
        },
        computed:{
            list_app_filter:function(){
                return this.$store.getters.GET_LIST_APP_FILTER;
            },
            access_token: function(){
                return this.$store.getters.GET_ACCESS_TOKEN;
            },
            login:function(){
                return this.$store.getters.GET_LOGIN;
            }
        },
        watch:{
          $route:function(){
            this.getChangeFilter();
            this.getListAppSearch();
            this.icat = this.$route.query.iCat;
          },
          current_page:function(){
              if(this.$route.query.iCat != null){
                  this.$router.push(`${this.$route.path}?iCat=${this.$route.query.iCat}&iCit=${this.$route.query.iCit}&iDis=${this.$route.query.iDis}&page=${this.current_page}`);
              }
              if(this.$route.query.keyword !=null){
                  // alert(this.current_page);
                  this.$router.push(`${this.$route.path}?keyword=${this.$route.query.keyword}&page=${this.current_page}`);
              }
          }
        },
        mounted() {
            this.getChangeFilter();
            this.getListAppSearch();
        },
        methods:{
            getChangeFilter(){
                this.page = parseInt(window.location.href.substring(window.location.href.indexOf('page')+5, 1000));
                if (this.page >= 1){
                    this.current_page = this.page;
                } else {
                    this.current_page = 1;
                    // console.log(this.current_page);
                }
            },
            getListAppSearch(){
                if(this.$route.query.keyword != '' && this.$route.query.iCat == null){
                    ApiGet('classifieds', {type: 'search', keyword: this.$route.query.keyword, page: this.current_page,access_token:this.access_token,fields:'id,title,rewrite,price,picture,date,address,list_acreage,has_picture,user_favorite'}).then(res => {
                        this.list_app_search = res.data;
                        console.log(this.list_app_search);
                    }).catch(error => {
                        console.log('failed')
                    })
                }
            },
            changeFavourite(cla) {
                if(this.login){
                    if (cla.use_favorite == 1) {
                        cla.use_favorite = 0;
                        document.getElementsByClassName('alertdislike')[0].style.display = 'block';
                        setTimeout(function () {
                            document.getElementsByClassName('alertdislike')[0].style.display = 'none';
                        }, 1000);
                        ApiDelete('users-favorite/' + cla.id, {
                            access_token: this.$store.getters.GET_ACCESS_TOKEN,
                            type: 'id_classified'
                        }).then(response => {
                            console.log('deleted');
                        }).catch(error => {
                            console.error(error);
                        })

                    } else {
                        cla.use_favorite = 1;
                        document.getElementsByClassName('alertlike')[0].style.display = 'block';
                        setTimeout(function () {
                            document.getElementsByClassName('alertlike')[0].style.display = 'none';
                        }, 1000);
                        ApiPost('users-favorite', {
                            cla_id: cla.id,
                            access_token: this.$store.getters.GET_ACCESS_TOKEN
                        }).then(response => {
                            this.id_del = response.data.usf_id;
                            console.log(response.data);
                        }).catch(error => {
                            console.error(error);
                        })
                    }
                }
                else{
                    this.setStatusLeftNav(true);
                    alert('Bạn vui lòng đăng nhập để sử dụng chức năng này');
                    return false;
                }

            }
        }
    }
</script>
<style lang="scss">
    i.fa-heart{
        color:#da291c;
        font-size: 18px;
    }
    .fa-heart.liked{
        color:#da291c !important;
        &:before{
            content: "\f004";
            font-weight: 900;
        }
    }
</style>
