<template>
    <div id="compare_detail" class="compare_detail_app">
        <div class="proj_compare">
            <h1 class="compare_title">Nên mua {{data[0].name}} hay {{data[1].name}}</h1>
            <!--<h1 class="compare_title">{{data.projects[0].name}}</h1>-->
            <div id="tab_1" data-pos="1" class="cp_top tab_1 active active_tab">
                <div class="cp_item box_proj_info" v-for="component in data">
                    <h2 class="name">{{component.title}}</h2>
                    <p><strong>Tên dự án:</strong> {{component.name}}a</p>
                    <p><strong>Chủ đầu tư:</strong> {{component.inv_name}}</p>
                    <p><strong>Vị trí:</strong> {{component.address}}</p>
                    <p><strong>Quy mô dự án:</strong> {{component.overview}}</p>
                    <p><strong>Giá bán từ:</strong> {{component.price_from}}</p>
                    <p><strong>Loại hình dự án:</strong> {{component.cat_name}}</p>
                </div>
            </div>
            <div class="cach"></div>
            <div id="tab_2" data-pos="2" class="tab_2 tab_ct active">
                <div class="project_label"> Tổng quan dự án</div>
                <div class="general cmp_tabs">
                    <div class="info cmp_item" v-for="int in data"  v-html="int.intro">
                    </div>
                </div>
                <label class="cmp_full" v-on:click="clickBtn('tab_2')">
                    <span class="btn-info btn-sm">Xem thêm</span>
                </label>
            </div>
            <div id="tab_3" data-pos="3" class="tab_3 tab_ct active">
                <div class="project_label"> Thông tin chủ đầu tư</div>
                <div class="general cmp_tabs">
                    <div class="info inv cmp_item" v-for="inv in data">
                        <div class="">
                                <span class="inv_img">
                                    <img v-lazy="inv.investor.picture">
                                </span>
                            <div class="inv_info">
                                <h3 class="inv_name">{{inv.investor.name}}</h3>
                                <p><i class="fas fa-phone-volume"></i><span>{{inv.investor.phone}}</span></p>
                                <p><i class="far fa-envelope"></i><span>{{inv.investor.email}}</span></p>
                                <p><i class="fas fa-map-marker-alt"></i><span>{{inv.investor.address}}</span></p>
                            </div>
                        </div>
                        <div class="clear"></div>
                        <div class="inv_detail" v-html="inv.investor.description">

                        </div>
                    </div>
                </div>
                <label class="cmp_full" v-on:click="clickBtn('tab_3')">
                    <span class="btn-info btn-sm">Xem thêm</span>
                </label>
            </div>
            <div id="tab_4" data-pos="4" class="tab_4 tab_ct active">
                <div class="project_label"> Vị trí dự án</div>
                <div class="general cmp_tabs">
                    <div class="info cmp_item" v-for="posi in data" v-html="posi.position">

                    </div>

                </div>
                <label class="cmp_full" v-on:click="clickBtn('tab_4')"><span
                        class="btn-info btn-sm">Xem thêm</span></label></div>
            <div id="tab_5" data-pos="5" class="tab_5 tab_ct active">
                <div class="project_label"> Tiện ích</div>
                <div class="general cmp_tabs">
                    <div class="info cmp_item" v-for="infa in data" v-html="infa.infrastructure">

                    </div>

                </div>
                <label class="cmp_full" v-on:click="clickBtn('tab_5')">
                    <span class="btn-info btn-sm">Xem thêm</span>
                </label>
            </div>
            <div id="tab_6" data-pos="6" class="tab_6 active">
                <div class="project_label"> Thiết kế</div>
                <div class="general cmp_tabs">
                    <div class="info cmp_item" v-for="(tem,index) in data" :key="index">
                        <h2 class="name">{{tem.name}}</h2>
                        <div class="slides">
                            <div class="big">
                                <label class="img item item_0 on">
                                    <img v-lazy="tem.template.full[0]" v-bind:id="'pic_compare_'+index">
                                </label>
                            </div>
                            <div class="small">
                                <!--<div class="box_picture">-->
                                    <label :id="'label_pic_'+index+index2" class="img item item_0 on" data-pic="0" v-for="(thumb,index2) in tem.template.full" :key="index2">
                                        <img v-lazy="thumb" v-on:click="clickPictureCompare(thumb,index,index2)">
                                    </label>
                                <!--</div>-->

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</template>
<script>
    export default{
        props:['data'],
        data(){
            return{

            }
        },
        methods:{
            clickBtn(id){
                document.getElementById(id).getElementsByClassName('cmp_tabs')[0].style.maxHeight = "none";
                document.getElementById(id).getElementsByClassName('cmp_full')[0].style.display = "none";
            },
            clickPictureCompare(src,index,index2){
                document.getElementById('pic_compare_'+index).setAttribute("src", src);
                var els = document.getElementsByClassName('item_0');
                for (var i = 0; i < els.length; i++) {
                    els[i].classList.remove('active_label')
                }
                document.getElementById('label_pic_'+index+index2).classList.add('active_label');

            },
        }

    }

</script>
<style lang="scss">
    .active_label{
        border: 3px solid #03A9F4;
    }
</style>