<template>
    <div>
        <classified-detail v-if="!loading&&type_page=='classified'" :setStatusLeftNav="setStatusLeftNav" :data="data_page"></classified-detail>
        <project-detail v-else-if="!loading&&type_page=='project'" :data="data_page.project"></project-detail>
        <projects-compare v-else-if="!loading&&type_page=='projects_compare'" :data="data_page.projects"></projects-compare>
        <category-page v-else-if="!loading&&(type_page=='category'|| type_page == 'categories_multi'||type_page == 'categories_city'||type_page == 'categories_location')" :data="data_page"></category-page>
        <projects v-else-if="!loading&&type_page=='projects'"  :data="data_page"></projects>
        <loading v-else></loading>

        <ul v-if="!loading&&(type_page=='category'|| type_page == 'categories_multi'||type_page == 'categories_city'||type_page == 'categories_location')" class="pagination_app">
            <li v-if="current_page >= 3">
                <a v-on:click="current_page = 1" class="active_pagi">
                    <i class="fas fa-angle-double-left"></i>
                </a>
            </li>
            <li v-if="current_page > 3">
                <a v-on:click="current_page -= 3">{{current_page - 3}}</a>
            </li>
            <li v-if="current_page > 2">
                <a v-on:click="current_page -= 2">{{current_page - 2}}</a>
            </li>
            <li v-if="current_page > 1">
                <a v-on:click="current_page -= 1">{{current_page - 1}}</a>
            </li>
            <li>
                <a class="active_pagi">{{current_page}}</a>
            </li>
            <li>
                <a v-on:click="current_page += 1">{{current_page + 1}}</a>
            </li>
        </ul>
    </div>
</template>

<script>
    import {ApiGet} from '../helper/api'
    import ClassifiedDetail from './ChiTietCanHo'
    import ProjectDetail from './ChiTietDuAn'
    import ProjectsCompare from './SoSanhDuAn'
    import CategoryPage from './Category'
    import Loading from '../components/PageLoading'
    import Projects from './DuAn'
    import PageNotData from '../components/PageNotData'

    export default {
        props:['setStatusLeftNav'],
        name: "SwitchPage",
        components: {
            ClassifiedDetail,
            ProjectDetail,
            ProjectsCompare,
            CategoryPage,
            Loading,
            Projects,
            PageNotData
        },
        data() {
            return {
                type_page: null,
                loading: false,
                data_page: null,
                current_page: 1,
                page: 1,
                arr_cate: []
            }
        },
        watch:{
          $route:function(){
              this.getData();
          },
            current_page:function(){
                this.$router.push(`${this.$route.path}?page=${this.current_page}`);
            },
        },
        computed:{
          access_token: function(){
              return this.$store.getters.GET_ACCESS_TOKEN;
          }
        },
        mounted() {
            this.getLinkEnter();
            this.getData();
        },
        methods: {
            getLinkEnter(){
                this.page = parseInt(window.location.href.substring(window.location.href.indexOf('page')+5, 1000));
                if (this.page >= 1){
                    this.current_page = this.page;
                } else {
                    this.current_page = 1;
                }
            },
            getCategory(){
              this.$store.getters.GET_CATEGORIES.forEach(item=>{
                  if(item.type != 'project') this.arr_cate.push(item.rewrite);

              })
            },
            getData() {
                this.getCategory();
                // if(this.arr_cate.indexOf(this.$route.params.slug) != -1) this.type_page = 'category';
                this.loading = true;
                // if (this.$route.params.slug.lastIndexOf('cla') != -1){
                //
                //     ApiGet().then(res => {
                //         this.data_page = res.data;
                //         this.type_page = this.data_page.type_page;
                //         this.loading = false;
                //     }).catch(error => {
                //         this.loading = false;
                //         console.error('error check rewrite:',error.message);
                //         this.$router.push('/')
                //     })
                // }
                console.log(this.type_page);
                if(this.$route.params.slug.lastIndexOf('-cla') == -1){
                    ApiGet('rewrites', {type: 'detail', slug: this.$route.params.slug,page:this.current_page,access_token:this.access_token,fields:'user_favorite'}).then(res => {
                    // ApiGet('rewrites', {type: 'detail', slug: this.$route.params.slug,page:this.current_page}).then(res => {
                        this.data_page = res.data;
                        this.type_page = this.data_page.type_page;
                        this.loading = false;
                    }).catch(error => {
                        this.loading = false;
                    })
                }
                else if (this.$route.params.slug.substr(this.$route.params.slug.lastIndexOf('-')+1, 3) == 'cla'){
                    var id = this.$route.params.slug.substr(this.$route.params.slug.lastIndexOf('-')+4, 10);
                    // console.log(id);
                    ApiGet('classifieds/'+id, {type: 'detail_cla',access_token:this.access_token,fields:'id,user_favorite,title,rewrite,cat_id,dis_id,ward_id,street_id,active,proj_id,date,use_id,description,price,picture,list_acreage,list_price,list_badroom,list_toilet,search,type,has_picture,type_cat,type_vip,address,phone,email,contact_name,rew_id,citid,disid,wardid,streetid,cat_prentid,has_video'}).then(res => {
                        this.data_page = res.data;
                        this.type_page = "classified";
                        this.loading = false;
                    }).catch(error => {
                        this.loading = false;
                        console.error('error check rewrite:',error.message);
                        this.$router.push('/')
                    })
                }
                // else{
                //     // console.log(this.type_page);
                //     // ApiGet('rewrites', {type: 'detail', slug: this.$route.params.slug,access_token:this.access_token,fields:'user_favorite'}).then(res => {
                //     ApiGet('rewrites', {type: 'detail', slug: this.$route.params.slug}).then(res => {
                //         this.data_page = res.data;
                //         this.type_page = this.data_page.type_page;
                //         this.loading = false;
                //     }).catch(error => {
                //         this.loading = false;
                //         console.error('error check rewrite:',error.message);
                //         this.$router.push('/')
                //     })
                // }
            }
        }
    }
</script>
