<template>
    <div class="list-contact">
        <h3 class="title-p-contact"><i class="fas fa-users"></i> Khách cần mua, cần thuê</h3>
        <div class="contact-content">
            <div class="item-contact" v-for="(item,index) in list_user_contact" :key="index">
                <div class="title-contact">
                    {{++index}} - {{item.title}}
                </div>
                <div class="contact_users">
                    <strong class="contact-phone"><i class="fas fa-phone-volume"></i> {{item.user_phone}}</strong>
                    <div class="t_mess">
                        <span class="contact-time"><i class="far fa-clock"></i> {{item.date}}</span>
                        <label class="messenger_user"><i class="far fa-comment-dots"></i> Chat với khách hàng</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import {ApiGet} from "../helper/api"

    export default {
        name: "UserContact",
        data() {
            return {
                list_user_contact: null
            }
        },
        created() {
            if (this.access_token==null) {
                alert("Bạn chưa đăng nhập!");
                this.$router.push("/")

            }
        },
        computed: {
            access_token: function () {
                return this.$store.getters.GET_ACCESS_TOKEN;
            }
        },
        mounted() {
            this.getData();
        },
        methods: {
            getData() {
                    ApiGet(`user-contacts`, {
                        limit: 100,
                        fields: 'id,user_phone,date,title,rew_id',
                        access_token: this.access_token
                    }).then(res => {
                        this.list_user_contact = res.data.user_contacts;
                    }).catch(e => {
                        console.error('Api contact error:', e.message);
                    })

            }
        }
    }
</script>
<style lang="scss">
    .list-contact {
        .title-p-contact {
            text-align: center;
            font-size: 14px;
            padding: 5px 0;
        }

        .contact-content {
            .item-contact {
                .title-contact {
                    font-size: 13px;
                    font-weight: bold;
                    color: #005b9c;
                }

                padding: 4px 6px;
                /*position: relative;*/
                background-color: #fff;
                margin-bottom: 10px;
                box-shadow: 0 1px 6px rgba(32, 33, 36, .28);
                border-radius: 8px;

                .contact_users {
                    .contact-phone {
                        font-size: 12px;

                        .fa-phone-volume {
                            color: #28bd28;

                        }
                    }

                    .t_mess {
                        display: flex;
                        justify-content: space-between;

                        .contact-time {
                            i {
                                color: red;
                            }
                        }

                        .messenger_user {
                            margin-top: -8px;
                            border: 1px solid #005b9c;
                            padding: 3px 5px;
                            border-radius: 10px;
                            cursor: pointer;
                            background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #0998fa), to(#0e67fa));
                            background: linear-gradient(180deg, #0998fa, #0e67fa);
                            color: #fff;
                        }
                    }
                }
            }
        }

    }
</style>
