<template>
    <div class="filter_app">
        <form >
            <div class="select_app">
                <div class="select_con_filter iCat" @click="showCategory(1)">
                    <i class="far fa-building"></i>
                    <input type="text" :value="`${selectedLi_1?cat_selected_1.title:'Tất cả các loại bất động sản'}`" id="iCat"  name="iCat" v-bind:data-cateid="cateid">
                    <i class="fas fa-sort-down"></i>
                </div>
                <ul v-if="show_category_1" v-bind:style="{display:'block'}" class="con_filter" >
                    <li @click="clickLi(1,0,'Tất cả các loại bất động sản')">
                        Tất cả các loại bất động sản
                    </li>
                    <li v-for="cat in categories" @click="clickLi(1,cat.id,cat.name)">{{cat.name}}
                        <i class="fas fa-chevron-right"></i>
                    </li>
                </ul>
            </div>
            <div class="select_app">
                <div class="select_con_filter iCit" @click="showCategory(2)">
                    <i class="fas fa-map-marker-alt"></i>
                    <input type="text" :value="`${selectedLi_2?cat_selected_2.title:'Tỉnh/Thành phố'}`" disabled name="iCit" id="iCit" v-bind:data-cityid="cityid">
                    <i class="fas fa-sort-down"></i>
                </div>
                <ul class="con_filter " v-if="show_category_2" v-bind:style="{display:'block'}" id="iCit_child">
                    <li @click="clickLi(2,0,'Tỉnh/Thành phố')">
                        Tỉnh/Thành phố
                    </li>
                    <li v-for="lc in list_cities" @click="clickLi(2,lc.id,lc)">{{lc.name}}
                        <i class="fas fa-chevron-right"></i>
                    </li>

                </ul>
            </div>

            <div class="select_app" id="District">
                <div class="select_con_filter iCit" @click="showCategory(3)">
                    <i class="fas fa-home"></i>
                    <input type="text" :value="`${selectedLi_3?cat_selected_3.title:'Quận/Huyện'}`" disabled name="iDis" id="iDist" v-bind:data-distid="distid">
                    <i class="fas fa-sort-down"></i>
                </div>
                <ul class="con_filter " v-if="show_category_3" v-bind:style="{display:'block'}" id="iDis_child">
                    <li @click="clickLi(3,0,'Quận/Huyện')">
                        Quận/Huyện
                    </li>
                    <li v-for="district in districts" @click="clickLi(3,district.dis_id,district)">{{district.name}}
                        <i class="fas fa-chevron-right"></i>
                    </li>
                </ul>
            </div>

        </form>
    </div>
</template>

<script>
    export default {
        data(){
            return {
                cateid: 0,
                cityid: 0,
                distid: 0,
                // val_cate: '',
                isActive: true,
                show_category_1:false,
                show_category_2:false,
                show_category_3:false,
                selectedLi_1: false,
                selectedLi_2: false,
                selectedLi_3: false,
                cat_selected_1:{
                    id:0,
                    title:''
                },
                cat_selected_2:{
                    id:0,
                    title:''
                },
                cat_selected_3:{
                    id:0,
                    title:''
                },
                list_cities: [
                    {
                        "id": 2,
                        "name": "An Giang"
                    },
                    {
                        "id": 3,
                        "name": "Bà Rịa - Vũng Tàu"
                    },
                    {
                        "id": 4,
                        "name": "Bắc Giang"
                    },
                    {
                        "id": 5,
                        "name": "Bắc Kạn"
                    },
                    {
                        "id": 6,
                        "name": "Bạc Liêu"
                    },
                    {
                        "id": 7,
                        "name": "Bắc Ninh"
                    },
                    {
                        "id": 8,
                        "name": "Bến Tre"
                    },
                    {
                        "id": 9,
                        "name": "Bình Định"
                    },
                    {
                        "id": 10,
                        "name": "Bình Duong"
                    },
                    {
                        "id": 11,
                        "name": "Bình Phước"
                    },
                    {
                        "id": 12,
                        "name": "Bình Thuận"
                    },
                    {
                        "id": 13,
                        "name": "Cà mau"
                    },
                    {
                        "id": 14,
                        "name": "Cần Thơ"
                    },
                    {
                        "id": 15,
                        "name": "Cao Bằng"
                    },
                    {
                        "id": 16,
                        "name": "Đà Nẵng"
                    },
                    {
                        "id": 17,
                        "name": "Đăk Lăk"
                    },
                    {
                        "id": 18,
                        "name": "Đăk Nông"
                    },
                    {
                        "id": 19,
                        "name": "Điện Biên"
                    },
                    {
                        "id": 20,
                        "name": "Đồng Nai"
                    },
                    {
                        "id": 21,
                        "name": "Đồng Tháp"
                    },
                    {
                        "id": 22,
                        "name": "Gia Lai"
                    },
                    {
                        "id": 23,
                        "name": "Hà Giang"
                    },
                    {
                        "id": 24,
                        "name": "Hà Nam"
                    },
                    {
                        "id": 25,
                        "name": "Hà Nội"
                    },
                    {
                        "id": 26,
                        "name": "Hà Tĩnh"
                    },
                    {
                        "id": 27,
                        "name": "Hải Dương"
                    },
                    {
                        "id": 28,
                        "name": "Hải Phòng"
                    },
                    {
                        "id": 29,
                        "name": "Hậu Giang"
                    },
                    {
                        "id": 30,
                        "name": "Hồ Chí Minh"
                    },
                    {
                        "id": 31,
                        "name": "Hòa Bình"
                    },
                    {
                        "id": 32,
                        "name": "Hưng Yên"
                    },
                    {
                        "id": 33,
                        "name": "Khánh Hòa"
                    },
                    {
                        "id": 34,
                        "name": "Kiên Giang"
                    },
                    {
                        "id": 35,
                        "name": "Kon Tum"
                    },
                    {
                        "id": 36,
                        "name": "Lai Châu"
                    },
                    {
                        "id": 37,
                        "name": "Lâm Đồng"
                    },
                    {
                        "id": 38,
                        "name": "Lạng Sơn"
                    },
                    {
                        "id": 39,
                        "name": "Lào Cai"
                    },
                    {
                        "id": 40,
                        "name": "Long An"
                    },
                    {
                        "id": 41,
                        "name": "Nam Định"
                    },
                    {
                        "id": 42,
                        "name": "Nghệ An"
                    },
                    {
                        "id": 43,
                        "name": "Ninh Bình"
                    },
                    {
                        "id": 44,
                        "name": "Ninh Thuận"
                    },
                    {
                        "id": 45,
                        "name": "Phú Thọ"
                    },
                    {
                        "id": 46,
                        "name": "Phú Yên"
                    },
                    {
                        "id": 47,
                        "name": "Quảng Bình"
                    },
                    {
                        "id": 48,
                        "name": "Quảng Nam"
                    },
                    {
                        "id": 49,
                        "name": "Quảng Ngãi"
                    },
                    {
                        "id": 50,
                        "name": "Quảng Ninh"
                    },
                    {
                        "id": 51,
                        "name": "Quảng Trị"
                    },
                    {
                        "id": 52,
                        "name": "Sóc Trăng"
                    },
                    {
                        "id": 53,
                        "name": "Sơn La"
                    },
                    {
                        "id": 54,
                        "name": "Tây Ninh"
                    },
                    {
                        "id": 55,
                        "name": "Thái Bình"
                    },
                    {
                        "id": 56,
                        "name": "Thái Nguyên"
                    },
                    {
                        "id": 57,
                        "name": "Thanh Hóa"
                    },
                    {
                        "id": 58,
                        "name": "Thừa Thiên Huế"
                    },
                    {
                        "id": 59,
                        "name": "Tiền Giang"
                    },
                    {
                        "id": 60,
                        "name": "Trà Vinh"
                    },
                    {
                        "id": 61,
                        "name": "Tuyên Quang"
                    },
                    {
                        "id": 62,
                        "name": "Vĩnh Long"
                    },
                    {
                        "id": 63,
                        "name": "Vinh Phúc"
                    },
                    {
                        "id": 64,
                        "name": "Yên Bái"
                    }
                ]

            }
        },
        computed:{
            categories:function(){
                return this.$store.getters.GET_CATEGORIES;
            },
            districts: function(){
                return this.$store.getters.GET_DISTRICTS;
            }
        },
        mounted() {
        },
        methods:{
            showCategory(num){
                if (num == 1) {
                    this.show_category_1 = !this.show_category_1;
                }
                if (num == 2) {
                    this.show_category_2 = !this.show_category_2;
                }
                else this.show_category_3 = !this.show_category_3;
            },

            getFilter(){
                console.log(this.cateid+'+'+this.cityid+'+'+this.distid);
            },
            clickLi(num,id,location){
                var title = location.name;
                this.showCategory(num);
                if (num == 1) {
                    this.selectedLi_1 = true;
                    this.cat_selected_1.title = location;
                    this.cateid = id;
                    this.getFilter();
                    this.$store.dispatch('ACTION_GET_LIST_APP_FILTER',{fields:'title,rewrite,price,picture,date,address,list_acreage',where:`cat_id+${this.cateid},cit_id+${this.cityid},dis_id+${this.distid}`});

                }
                if (num == 2) {
                    this.$store.dispatch('ACTION_GET_DISTRICT',{fields:'dis_id,name,type',where:`cit_id+${location.id},ward_id+0,street_id+0`});
                    this.selectedLi_2 = true;
                    this.cat_selected_2.title = title;
                    document.getElementById('District').style.display = 'block';
                    this.selectedLi_3 = false;
                    this.cityid = id;
                }
                if(num == 3){
                    this.selectedLi_3 = true;
                    this.cat_selected_3.title = title;
                    this.distid = id;
                    this.$store.dispatch('ACTION_GET_LIST_APP_FILTER',{fields:'title,rewrite,price,picture,date,address,list_acreage',where:`cat_id+${this.cateid},cit_id+${this.cityid},dis_id+${this.distid}`});
                }
            }
        }
    }
</script>