<template>
    <div class="footer">
        <div class="menu_bottom">
            <div class="item active" id="home">
                <router-link to="/">
                    <i class="fas fa-home"></i>
                    Trang chủ
                </router-link>
            </div>
            <div class="item" id="search_app">
                <a href="#">
                    <i class="fas fa-search"></i>
                    Tìm kiếm
                </a>
            </div>
            <div class="item" @click="checkLogin()">
                <a :href="login?'/dang-ban.aspx':'#'">
                    <i class="fas fa-pen-fancy"></i>
                    Đăng bài
                </a>
            </div>
            <div class="item user_login" @click="checkLogin()">
                <a :href="login?'/quanly/user/profile':'#'">
                    <i class="fas fa-user"></i>
                    Tài khoản
                </a>
            </div>
            <div class="item">
                <a >
                    <i class="fab fa-facebook-messenger"></i>
                    Chat ngay
                </a>
            </div>
        </div>
    </div>
</template>

<script>
    export  default {
      props:['setStatusLeftNav'],
        computed:{
            login:function(){
                return this.$store.getters.GET_LOGIN;
            }
        },
        methods:{
            checkLogin(){
                if(this.login){
                    return true;
                }else{
                    this.setStatusLeftNav(true);
                    alert('Bạn vui lòng đăng nhập để sử dụng chức năng này');
                    return false;
                }
            }

        }
    }
</script>