<template>
    <vue-recaptcha
            :loadRecaptchaScript="loadRecaptchaScript"
            :sitekey="secret_captcha"
            ref="recaptcha"
            @verify="onVerify"
            @expired="onExpired"
    >
    </vue-recaptcha>
</template>

<script>
    import VueRecaptcha from 'vue-recaptcha';
    export default {
        name: "GoogleCaptcha",
        props:['Result'],
        components:{
            VueRecaptcha
        },
        data(){
            return{
                secret_captcha:process.env.VUE_APP_KEY_GOOGLE_RECAPTCHA,
                loadRecaptchaScript:true,
                status_verify:{
                    token:null,
                    status:false
                }
            }
        },methods:{
            onSubmit() {
                this.$refs.invisibleRecaptcha.execute()
            },
            onVerify(response) {
                console.log('Verify: ' + response);
                this.status_verify.token = response;
                this.status_verify.status= true;
                this.Result(this.status_verify);
            },
            onExpired() {
                console.log('Expired');
                this.status_verify.status= false;
                this.Result(this.status_verify);
            },
            resetRecaptcha () {
                this.status_verify.status= false;
                this.$refs.recaptcha.reset() // Direct call reset method
            }
        }
    }
</script>