<template>
    <div class="header_app" v-on:blur="onBlurInputSearch()">
        <div class="top_header">
            <label class="icon_control" for="app_control">
                <i class="fas fa-bars"></i>
            </label>
            <div id="search" >
                <input type="search" id="search_keyword" class="search" autocomplete="off"
                       placeholder="Tìm theo khu vực, địa điểm..." v-model="keySearch"
                       @focus="onClickInputSearch()"
                       @blur="onBlurInputSearch"
                       v-on:keyup="enterSearch()">
                <div class="voice_app" @click="displaySearchVoice('search_keyword')">
                    <i class="fas fa-microphone"></i>
                </div>
            </div>
            <div class="icon_notify">
                <i class="fas fa-globe-americas"></i>
            </div>
        </div>
        <div  id="autocomplete">
            <ul>
                <li v-for="aut in autocomplete_search">
                    <router-link :to="aut.rewrite">{{aut.title}}</router-link>
                </li>

            </ul>
        </div>
        <div class="key_search">
            <div class="carousel">
                <div class="item_crs">
                    <!--<a v-if="hasSlug == true" class="active_cate">{{cate_active}}</a>-->
                    <!--<router-link v-if="hasSlug == false" v-for="(cat,index) in categories" :to="`${cat.rewrite?cat.rewrite:'#'}`" :key="index">{{cat.name}}</router-link>-->
                    <!--<router-link v-if="hasSlug == true" v-for="(cat,index) in category" :to="`${cat.rewrite?cat.rewrite:'#'}`" :key="index">{{cat.name}}</router-link>-->
                    <a v-if="cate_active != ''" class="active_cate">{{cate_active}}</a>
                    <router-link v-for="(cat,index) in categories" v-if="cat.name != cate_active" :to="`${cat.rewrite?cat.rewrite:'#'}`" :key="index">{{cat.name}}</router-link>
                </div>
            </div>
        </div>
        <div id="popup_voice" style="display: none">
            <div class="main-popup">
                <div class="title_modal"><strong>Đang nghe</strong></div>
                <a title="Close" class="close" @click="hiddenSearchVoice">X</a>
                <div class="circle">
                    <div class="circle-item circle-one"></div>
                    <div class="circle-item circle-two"></div>
                    <div class="circle-item circle-tree"></div>
                    <div class="circle-icon">
                        <svg height="25" viewBox="0 0 1792 1792" width="25">
                            <path d="M1472 704v128q0 221-147.5 384.5t-364.5 187.5v132h256q26 0 45 19t19 45-19 45-45 19h-640q-26 0-45-19t-19-45 19-45 45-19h256v-132q-217-24-364.5-187.5t-147.5-384.5v-128q0-26 19-45t45-19 45 19 19 45v128q0 185 131.5 316.5t316.5 131.5 316.5-131.5 131.5-316.5v-128q0-26 19-45t45-19 45 19 19 45zm-256-384v512q0 132-94 226t-226 94-226-94-94-226v-512q0-132 94-226t226-94 226 94 94 226z"/>
                        </svg>
                    </div>
                </div>
                <div class="content_voice">
                      <span id="content_voice">
                        <div class="voice_animate">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                       </div>
                      </span>
                </div>
            </div>
        </div>
        <div id="popup_voice_fullscr" style="display: none" @click="hiddenSearchVoice()"></div>
    </div>
</template>

<script>
    import {ApiGet} from "../helper/api"
    export  default {
        data(){
            return{
                category: [],
                cate_active: '',
                hasSlug: false,
                keySearch: '',
                autocomplete_search: []
            }
        },
        computed:{
          categories:function(){
              return this.$store.getters.GET_CATEGORIES;
          }
        },
        watch:{
            $route:function(){
                // this.getSlug();
                this.checkIcatFilter();
                this.doScrollTop();
                this.getAutocompleteSearch();
            }
        },
        mounted() {
            this.category = this.categories;
        },
        methods:{
            checkIcatFilter(){
              // if (this.$route.query.iCat != null ){
                  this.categories.forEach((e)=>{
                      if(this.$route.query.iCat == e.id || this.$route.params.slug == e.rewrite){
                          // this.hasSlug = true;
                          this.cate_active = e.name;
                          // this.category.splice(this.category.indexOf(e),1);
                      }
                  });
              // }
            },
            getSlug(){
                var slug = this.$route.params.slug;
                this.category = [...this.categories];
                this.categories.forEach((e)=>{
                   if(slug == e.rewrite){
                       this.hasSlug = true;
                       this.cate_active = e.name;
                        this.category.splice(this.category.indexOf(e),1);
                   }
                });
            },
            enterSearch(){
                setTimeout(()=>{
                    this.$router.push('/search?keyword='+this.keySearch);
                }, 2000);

            },
            doScrollTop(){
                document.getElementsByClassName('carousel')[0].scroll(0,0)
            },
            displaySearchVoice(id_input){
               document.getElementById('popup_voice').style.display = 'block';
               document.getElementById('popup_voice_fullscr').style.display = 'block';
               try {
                   voiceRecognitionAvailable(id_input);
               }catch (e) {
                   alert(e.message);
               }
            },
            hiddenSearchVoice(){
                document.getElementById('popup_voice').style.display = 'none';
                document.getElementById('popup_voice_fullscr').style.display = 'none';
            },
            onClickInputSearch(){
                ApiGet('get_cache_redis',{client_token: this.$store.getters.GET_CLIENT_TOKEN}).then(res=>{
                    this.autocomplete_search = res.data;
                }).catch(error=>{
                    console.error(error);
                });
                document.getElementById('search').classList.add("outline-input");
                document.getElementsByClassName('icon_control')[0].style.display = 'none';
                document.getElementsByClassName('icon_notify')[0].style.display = 'none';
                document.getElementById('search').style.width = 'calc(100% - 3px)';
                document.getElementById('autocomplete').style.display = 'block';
            },
            onBlurInputSearch(){
                setTimeout(function () {
                    document.getElementById('search').classList.remove("outline-input");
                    document.getElementsByClassName('icon_control')[0].style.display = 'block';
                    document.getElementsByClassName('icon_notify')[0].style.display = 'block';
                    document.getElementById('search').style.width = 'calc(100% - 42px)';
                    document.getElementById('autocomplete').style.display = 'none';
                }, 300);

                // },1)
            },
            getAutocompleteSearch(){
                if (this.$route.query.keyword != '' && this.$route.query.keyword != null){
                    ApiGet('rewrites',{type:'search', keyword: this.$route.query.keyword}).then(response=>{
                        this.autocomplete_search = response.data;
                    }).catch(error=>{
                        console.error(error);
                    })
                }
            }
        }
    }
</script>
<style lang="scss">
    #autocomplete{
        display: none;
        height: 300px;
        width: calc(100% - 3px);
        border: 1px solid #bdbdbd;
        border-top: none;
        margin-left: 3px;
        overflow: scroll;
        overflow-x: hidden;
        position: absolute;
        background: #FFFFFF;
        z-index: 100;
        ul{
            li{

                max-width: 100%;
                height: 34px;
                border-bottom: 1px solid #e8e8e8;
                padding:{
                    top: 7px;
                    left: 5px;
                }
                a{
                    display: -webkit-box;
                    color: #333333;
                    height: 20px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    -webkit-line-clamp: 1;
                    text-overflow: ellipsis;
                }
            }

        }
    }
    .outline-input{
        outline-color: rgb(77, 144, 254); // #4D90FE
        outline-offset: -2px;
        outline-style: auto;
        outline-width: 5px;
    }
</style>
