<template>
    <div id="left_nav">
        <header>
            <router-link class="logo" to="/" title="Sosanhnha.com">
                <img src="../../public/images/logo.png" alt="Sosanhnha.com">
            </router-link>
            <nav>
                <ul class="navbar">
                    <li v-if="login" style="display: flex; align-items: center;padding: 5px">
                        <div class="avata-user" style="width: 38px;height: 38px;border-radius: 50%;margin-right: 10px"><img :src="user_info.picture?user_info.picture:'/images/user.svg'"/></div>
                        <div>
                            <a href="/quanly"><b style="font-size: 18px;color: #444444">{{user_info.fullname}}</b></a>
                        </div>
                    </li>
                    <li class="login" v-if="!login" >
                        <a class="google" onclick="loginGoogle()" >
                            <i class="fab fa-google"></i>
                            <span>ĐĂNG NHẬP BẰNG GOOGLE</span>
                        </a>
                    </li>
                    <li class="login" v-if="!login">
                        <a class="face" onclick="loginFacebook()">
                            <i class="fab fa-facebook-f"></i>
                            <span>ĐĂNG NHẬP BẰNG FACEBOOK</span>
                        </a>
                    </li>
                    <li class="post" v-if="login">
                        <a class="btn-success" href="/dang-ban.aspx">
                            <span>ĐĂNG BÁN MIỄN PHÍ</span>
                        </a>
                    </li>
                    <li class="cat_project" v-if="login">
                        <label><a href="/quanly" class="name router-link-exact-active router-link-active">
                            <i class="fas fa-pen-square"></i>
                            Quản lý tin đăng</a></label>
                    </li>
                    <li class="cat_project" v-if="login">
                        <label><router-link to="/listcontact" class="name router-link-exact-active router-link-active">
                            <i class="fas fa-users"></i>
                            Khách cần mua cần thuê</router-link></label>
                    </li>
                    <!--<li class="cat_project project">-->
                        <!--<label class="name" title="Dự án">Dự án</label>-->
                        <!--<ul class="sub">-->
                            <!--<li>-->
                                <!--<router-link :to="{path: '/duan'}">-->
                                    <!--Biệt thự liền kề-->
                                <!--</router-link>-->
                            <!--</li>-->
                            <!--<li><a href="/căn-hộ-chung-cư" title="Căn hộ, Chung cư">Căn hộ, Chung cư</a></li>-->
                        <!--</ul>-->
                    <!--</li>-->
                    <li v-for="cate_parent in  category_group" class="cat_project">
                        <label @click="displaySub(cate_parent.type)">
                            <router-link :to="`${cate_parent.rewrite?cate_parent.rewrite:'#'}`" class="name" >{{cate_parent.name}}</router-link>
                            <!--<router-link :to="cate_parent.rewrite" class="name" >{{cate_parent.name}}</router-link>-->
                        </label>
                        <ul  :id="`sub_${cate_parent.type}`" class="sub">
                            <li v-for="cate_child in cate_parent.cat_childs">
                                <router-link :to="cate_child.rewrite">
                                    {{cate_child.name}}
                                </router-link>
                            </li>
                        </ul>
                    </li>
                    <li class="cat_project">
                        <label @click="displaySub('project')">
                           Dự án
                        </label>
                        <ul class="sub" id="sub_project">
                            <li v-for="(cate_pro,index) in cate_project" :key="index">
                                <router-link :to="cate_pro.rewrite">
                                    {{cate_pro.name}}
                                </router-link>
                            </li>
                        </ul>
                    </li>
                    <li class="menu_live" v-if="login">
                       <a href="/quanly/user-realtime/">
                           <button>
                               <i class="fa fa-circle"></i>Tư vấn trực tiếp
                           </button>
                       </a>
                    </li>
                </ul>
            </nav>
        </header>
    </div>
</template>

<script>
    export default {
        name:"LeftNav",
        data(){
            return {
                category_group :[],
                cate_project : [],
                cate_child_bannhadat: false,
                cate_child_chothue: false,
                cate_child_project: false
            }
        },
        computed:{
            categories:function(){
                return this.$store.getters.GET_CATEGORIES;
            },
            login:function(){
                return this.$store.getters.GET_LOGIN;
            },
            user_info:function(){
                return this.$store.getters.GET_USER_INFO;
            }
        },
        watch:{
            categories:function(){
                this.groupCategory();
            }
        },
        mounted(){

        },
        methods:{

            // groupCategory(){
            //     let cate_parent =[];
            //     this.categories.forEach(item=>{
            //         if(item.parent_id==0) cate_parent.push(item);
            //     });
            //     cate_parent.forEach(item_parent=>{
            //         let cat_tmp = item_parent;
            //         cat_tmp.cat_childs = [];
            //         this.categories.forEach(item_cat=>{
            //              if(item_cat.parent_id== cat_tmp.id)  cat_tmp.cat_childs.push(item_cat);
            //         });
            //         this.category_group.push(cat_tmp);
            //     })
            // },



            groupCategory(){
                let cate_parent =[];

                this.categories.forEach(item=>{
                    if(item.parent_id==0 && item.type != 'project' && item.name != 'Homestay') cate_parent.push(item);
                    if(item.type == 'project') this.cate_project.push(item);
                });
                cate_parent.forEach(item_parent=>{
                    let cat_tmp = item_parent;
                    cat_tmp.cat_childs = [];
                    this.categories.forEach(item_cat=>{
                        if(item_cat.parent_id== cat_tmp.id)  cat_tmp.cat_childs.push(item_cat);
                    });
                    this.category_group.push(cat_tmp);
                });

            },




            checkR(data){
                if(data.rewrite==null|| typeof data.rewrite == "undefined") console.log('R:',data);
                return data.rewrite;
            },
            displaySub(obj){
                var el =  document.getElementById(`sub_${obj}`);
                el.style.display = 'block';
            }
        }
    }
</script>

<style lang="scss">
    /*.cat_project:first-child{*/
        /*background-color: red;*/
        /*a{*/
            /*color: #385794;*/
        /*}*/
    /*}*/
    /*.cat_project:nth-child(2){*/
        /*a{*/
            /*color: #5cb85c;*/
        /*}*/
    /*}*/
</style>