<template>
    <div>
        <ul class="app_listing" v-if="data!=null">
            <li class="item " v-for="(classified,index) in data.classifieds" :key="index">
                <div class="info">
                    <router-link class="line-clamp title" :to="classified.rewrite">
                        <span>{{classified.title}}</span>
                    </router-link>
                    <span class="location">{{classified.address}}</span>
                    <span class="price">{{classified.price}}</span>
                    <span class="date">{{classified.date}}</span>
                    <span class="favourite" >
                        <i :id="`${classified.id}`" :class="classified.use_favorite == 1 ? 'liked' : ''" class="far fa-heart" v-on:click="changeFavourite(classified)"></i>
                    </span>
                </div>
                <router-link :to="classified.rewrite" class="picture" rel="nofollow" :title="classified.title">
                            <span class="img">
                                <img v-if="classified.has_picture != 0" v-lazy="classified.picture"  alt="">
                                <img v-if="classified.has_picture == 0" src="/images/noimage2.png"  alt="">
                            </span>
                    <span class="acreage" v-if="classified.list_acreage!=null"><b>{{classified.list_acreage}}m<sup>2</sup></b></span>
                </router-link>
            </li>

        </ul>
    </div>

</template>

<script>
    import {ApiGet,ApiPost,ApiDelete} from "../helper/api"
    export default {
        name: "ListClassifieds",
        props:['data', 'setStatusLeftNav'],
        data(){
            return{
                id_del: 0,
            }
        },
        computed:{
            login:function(){
                return this.$store.getters.GET_LOGIN;
            }
        },
        methods:{
            changeFavourite(cla){
                if(this.login){
                    if (cla.use_favorite==1){
                        cla.use_favorite = 0;
                        document.getElementsByClassName('alertdislike')[0].style.display = 'block';
                        setTimeout(function(){
                            document.getElementsByClassName('alertdislike')[0].style.display = 'none';
                        }, 1000);
                        ApiDelete('users-favorite/'+cla.id,{access_token: this.$store.getters.GET_ACCESS_TOKEN,type:'id_classified'}).then(response=>{
                            console.log('deleted');
                        }).catch(error=>{
                            console.error(error);
                        })

                    }else{
                        cla.use_favorite =1;
                        document.getElementsByClassName('alertlike')[0].style.display = 'block';
                        setTimeout(function(){
                            document.getElementsByClassName('alertlike')[0].style.display = 'none';
                        }, 1000);
                        ApiPost('users-favorite',{cla_id:cla.id, access_token: this.$store.getters.GET_ACCESS_TOKEN}).then(response=>{
                            this.id_del = response.data.usf_id;
                            console.log(response.data);
                        }).catch(error=>{
                            console.error(error);
                        })
                    }
                }else{
                    this.setStatusLeftNav(true);
                    alert('Bạn vui lòng đăng nhập để sử dụng chức năng này');
                    return false;
                }


                // if (status == 'like'){
                //     // document.getElementById('like_'+id).classList.add('add-favourite');
                //     // document.getElementById('dislike_'+id).classList.add('remove-favourite');
                //     // document.getElementById('like_'+id).classList.remove('remove-favourite');
                //     // document.getElementById('dislike_'+id).classList.remove('add-favourite');
                //     // document.getElementsByClassName('alertlike')[0].style.display = 'block';
                //     setTimeout(function(){
                //         document.getElementsByClassName('alertlike')[0].style.display = 'none';
                //     }, 1000);
                //     ApiPost('users-favorite',{cla_id:id, access_token: this.$store.getters.GET_ACCESS_TOKEN}).then(response=>{
                //         this.id_del = response.data.usf_id;
                //         console.log(response.data);
                //     }).catch(error=>{
                //         console.error(error);
                //     })
                // }

            }
            // changeFavourite(status,id){
            //     if (status == 'liked'){
            //         document.getElementById(id).classList.add('liked');
            //         // document.getElementById('like_'+id).classList.add('remove-favourite');
            //         // document.getElementById('dislike_'+id).classList.remove('remove-favourite');
            //         // document.getElementById('like_'+id).classList.remove('add-favourite');
            //         // document.getElementsByClassName('alertdislike')[0].style.display = 'block';
            //         setTimeout(function(){
            //             document.getElementsByClassName('alertdislike')[0].style.display = 'none';
            //             }, 1000);
            //         ApiDelete('users-favorite/'+this.id_del,{access_token: this.$store.getters.GET_ACCESS_TOKEN}).then(response=>{
            //             console.log('deleted');
            //         }).catch(error=>{
            //             console.error(error);
            //         })
            //
            //     }
            //     if (status == 'like'){
            //         // document.getElementById('like_'+id).classList.add('add-favourite');
            //         // document.getElementById('dislike_'+id).classList.add('remove-favourite');
            //         // document.getElementById('like_'+id).classList.remove('remove-favourite');
            //         // document.getElementById('dislike_'+id).classList.remove('add-favourite');
            //         // document.getElementsByClassName('alertlike')[0].style.display = 'block';
            //         setTimeout(function(){
            //             document.getElementsByClassName('alertlike')[0].style.display = 'none';
            //         }, 1000);
            //         ApiPost('users-favorite',{cla_id:id, access_token: this.$store.getters.GET_ACCESS_TOKEN}).then(response=>{
            //             this.id_del = response.data.usf_id;
            //             console.log(response.data);
            //         }).catch(error=>{
            //             console.error(error);
            //         })
            //     }
            //
            // }
        }


    }
</script>
<style lang="scss">
    i.fa-heart{
        color:#da291c;
        font-size: 18px;
    }
    .fa-heart.liked{
        color:#da291c !important;
        &:before{
            content: "\f004";
            font-weight: 900;
        }
    }
</style>