<template>
    <div class="loading-vuejs-animated-234"
         :style="`${height!=null?'height:'+height:''}; ${speed!=null?'animation-duration:'+speed:''}; ${border_radius!=null?'border-radius:'+border_radius:''}; ${width!=null?'width:'+width:''}; ${margin!=null?'margin:'+margin:''}; ${color!=null?'background: linear-gradient(to right, #eee 8%, '+color+' 18%, #eee 33%);':''}`">
    </div>
</template>

<script>
    export default {
        name: "Loading",
        props:['height','width','speed','border_radius','color','margin'],
        data() {
            return {

            }
        }
    }
</script>

<style>
    /*.loading-vuejs-item-23434{*/
    /*background: #f6f7f8;*/
    /*}*/
    .loading-vuejs-animated-234 {
        animation-fill-mode: forwards;
        animation-iteration-count: infinite;
        animation-name: placeHolderShimmer;
        animation-timing-function: linear;
        display: block;
        height: 100%;
        width: 100%;
        animation-duration: 7s;
        border-radius: 0;
        color: #ddd;
        background: linear-gradient(to right, #eee 8%, #ddd 18%, #eee 33%)
    }

    @-webkit-keyframes placeHolderShimmer {
        0% {
            background-position: -800px 0
        }
        100% {
            background-position: 800px 0
        }
    }
</style>