<template>
    <!-- The Modal -->
    <div id="myModal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            <div class="modal-header">
                <h4>Bạn muốn xóa tin này ?</h4>
                <span class="close" @click="model_data.open=false">&times;</span>
            </div>
            <div class="modal-body">
                <form >
                    <div><b>Xác nhận:</b></div>
                    <google-captcha :Result="googleCaptchaResult"></google-captcha>
                </form>
            </div>
            <div class="modal-footer">
                <button class="modal-btn-submit" @click="deleteClassified()">Xóa</button>
                <button class="modal-btn-cancel" @click="model_data.open=false" >Hủy</button>
            </div>
            <script type="application/javascript" src="https://www.google.com/recaptcha/api.js"></script>
        </div>
    </div>
</template>

<script>
    import {ApiDelete} from '../helper/api'
    import GoogleCaptcha from "../components/GoogleCaptcha.vue"
    export default {
        name: "ModelDeleteClassifield",
        props:['model_data'],
        components:{
            GoogleCaptcha
        },
        data(){
          return{
                google_captcha_status:false,
              google_captcha_token:null,
              secret_captcha:process.env.VUE_APP_KEY_GOOGLE_RECAPTCHA,
          }
        },
        computed:{
            user_info: function () {
                return this.$store.getters.GET_USER_INFO;
            },
            access_token:function(){
                return this.$store.getters.GET_ACCESS_TOKEN;
            }
        },
        methods:{
            onsubmit(e){
                console.log(e);
              return false;
            },
            deleteClassified(){
                if(this.google_captcha_status){
                    if(this.user_info!=null&&this.model_data.data.cla_use_id==this.user_info.id){
                        ApiDelete(`classifieds/${model_data.data.cla_id}`,{access_token:this.access_token}).then(res=>{
                            this.model_data.open=false;
                            alert("Yêu cầu xóa thành công!");
                            this.$router.push('/');
                        }).catch(e =>{
                           alert("Yêu cầu xóa tin không thành công!");
                        });
                    }else if(this.model_data.data.cla_type!=2){
                        ApiDelete(`classifieds/claw/${this.model_data.data.cla_id}`,{google_token:this.google_captcha_token}).then(res=>{
                            this.model_data.open=false;
                            alert("Yêu cầu xóa thành công!");
                            this.$router.push('/');
                        }).catch(e =>{
                            alert("Yêu cầu xóa tin không thành công!");
                        });
                    }else{
                        alert("Bạn không có quyền xóa tin này!");
                    }
                    this.model_data.open=false;
                    this.$router.push('/');
                }else{
                    alert('Bạn vui lòng xác thực không phải là robot!');
                }
            },
            googleCaptchaResult(data){
                this.google_captcha_status = data.status;
                this.google_captcha_token = data.token;
            }
        }
    }
</script>