<template>
    <div style="padding: 0 10px">
        <loading :height="'100px'" :border_radius="'10px'" :margin="'5px 0'"></loading>
        <loading :height="'100px'" :border_radius="'10px'" :margin="'5px 0'"></loading>
        <loading :height="'100px'" :border_radius="'10px'" :margin="'5px 0'"></loading>
        <loading :height="'100px'" :border_radius="'10px'" :margin="'5px 0'"></loading>
        <loading :height="'100px'" :border_radius="'10px'" :margin="'5px 0'"></loading>
        <loading :height="'100px'" :border_radius="'10px'" :margin="'5px 0'"></loading>
        <loading :height="'100px'" :border_radius="'10px'" :margin="'5px 0'"></loading>
        <loading :height="'100px'" :border_radius="'10px'" :margin="'5px 0'"></loading>
    </div>

</template>

<script>
    import Loading from "./Loading"
    export default {
        name: "PageLoading",
        components:{
            Loading
        }
    }
</script>