<template>
    <div class="box_filter">
        <div class="filter_condition">
            <i class="far fa-building"></i>
            <select v-model="cat_id">
                <option v-if="cat_name_relationship != null && cat_name_relationship != ''" :value="cat_id"  selected>{{cat_name_relationship}}</option>
                <option :value="0">Tất cả các loại bất động sản</option>
                <option v-for="cat in categories_filter"  v-if="cat_name_relationship != cat.name" :value="cat.id">{{cat.name}}</option>
            </select>
        </div>
        <div class="filter_condition">
            <i class="fas fa-map-marker-alt"></i>
            <select v-model="cit_id"  >
                <option value="0" selected>Tỉnh/Thành phố</option>
                <!--<option value="0"> Tất cả</option>-->
                <option v-for="city in list_cities" :value="city.id">{{city.name}}</option>
            </select>
        </div>
        <div class="filter_condition">
            <i class="fas fa-home"></i>
            <select v-model="dis_id">
                <option :value="0">Quận/Huyện</option>
                <option value="0"> Tất cả</option>
                <option v-for="district in districts" :value="district.dis_id">{{district.name}}</option>
            </select>
        </div>
    </div>

</template>
<script>


    export default {
        // props:['data'],
        data(){
            return{
                cat_id: 0,
                cit_id: 0,
                dis_id: 0,
                old_val_cat: 0,
                old_val_cit: 0,
                old_val_dis: 0,
                //bien nay de rang buoc icat cua header va box filter
                cat_name_relationship: '',
            }
        },

        mounted() {
            this.checkURL();
            // this.conditionFilter();
        },
        watch:{
            $route:function(){
                this.conditionFilter();
                // if(this.$route.query.keyword != null){
                //     if(this.$route.query.iCit == 0){
                //         this.$store.dispatch('ACTION_GET_LIST_APP_FILTER',{fields:'id,title,rewrite,price,picture,date,address,list_acreage,has_picture,user_favorite',where:`cat_id+${this.cat_id}`,page:this.$route.query.page, keyword: `${this.$route.query.keyword}`,type: `search`,access_token:this.access_token});
                //     }
                //     else{
                //         this.$store.dispatch('ACTION_GET_LIST_APP_FILTER',{fields:'id,title,rewrite,price,picture,date,address,list_acreage,has_picture,user_favorite',where:`cat_id+${this.cat_id},cit_id+${this.cit_id},dis_id+${this.dis_id}`,page:this.$route.query.page, keyword: `${this.$route.query.keyword}`,type: `search`,access_token:this.access_token});
                //     }
                // }
                // else{
                //     if(this.$route.query.iCit == 0){
                //
                //         this.$store.dispatch('ACTION_GET_LIST_APP_FILTER',{fields:'id,title,rewrite,price,picture,date,address,list_acreage,has_picture,user_favorite',where:`cat_id+${this.cat_id}`,page:this.$route.query.page,access_token:this.access_token});
                //     }
                //     else {
                //
                //         this.$store.dispatch('ACTION_GET_LIST_APP_FILTER',{fields:'id,title,rewrite,price,picture,date,address,list_acreage,has_picture,user_favorite',where:`cat_id+${this.cat_id},cit_id+${this.cit_id},dis_id+${this.dis_id}`,page:this.$route.query.page,access_token:this.access_token});
                //     }
                // }
                if (this.$route.query.iCat != null){
                    this.cat_name_relationship = null;
                }
            },
            cat_id:function(newVal, oldVal){
                this.old_val_cat = oldVal;
                if(this.$route.query.iCat == null){
                        this.$router.push('/search?'+'iCat='+this.cat_id+'&iCit='+this.cit_id+'&iDis='+this.dis_id);
                        this.checkPageFilter();
                }
                else{
                        if(this.old_val_cat != 0 || this.old_val_cit != 0 || this.old_val_dis != 0){
                            this.$router.push('/search?'+'iCat='+this.cat_id+'&iCit='+this.cit_id+'&iDis='+this.dis_id);
                            this.checkPageFilter();
                        }
                }
                // this.$router.push('/search?'+'iCat='+this.cat_id+'&iCit='+this.cit_id+'&iDis='+this.dis_id);
                this.checkPageFilter();
            },
            cit_id:function(newVal, oldVal){
                this.old_val_cit = oldVal;
                // if(this.$route.query.iCat == null){
                //     this.$router.push('/search?'+'iCat='+this.cat_id+'&iCit='+this.cit_id+'&iDis='+this.dis_id);
                //     this.checkPageFilter();
                // }
                // else{
                //     if(this.old_val_cat != 0 || this.old_val_cit != 0 || this.old_val_dis != 0){
                //         this.$router.push('/search?'+'iCat='+this.cat_id+'&iCit='+this.cit_id+'&iDis='+this.dis_id);
                //         this.checkPageFilter();
                //     }
                // }
                this.$router.push('/search?'+'iCat='+this.cat_id+'&iCit='+this.cit_id+'&iDis='+this.dis_id);
                this.checkPageFilter();
                this.$store.dispatch('ACTION_GET_DISTRICT',{fields:'dis_id,name,type',where:`cit_id+${this.cit_id},ward_id+0,street_id+0`});
            },
            dis_id:function(newVal, oldVal){
                this.old_val_dis = oldVal;
                if(this.$route.query.iCat == null){
                        this.$router.push('/search?'+'iCat='+this.cat_id+'&iCit='+this.cit_id+'&iDis='+this.dis_id);
                        this.checkPageFilter();
                }
                else{
                        if(this.old_val_cat != 0 || this.old_val_cit != 0 || this.old_val_dis != 0){
                            this.$router.push('/search?'+'iCat='+this.cat_id+'&iCit='+this.cit_id+'&iDis='+this.dis_id);
                            this.checkPageFilter();
                        }
                        if(this.$route.query.page == null && this.dis_id != 0){
                            this.$router.push('/search?'+'iCat='+this.cat_id+'&iCit='+this.cit_id+'&iDis='+this.dis_id);
                            this.checkPageFilter();
                        }
                }
            },
        },
        computed:{
            categories:function(){
                return this.$store.getters.GET_CATEGORIES;
            },
            districts: function(){
                return this.$store.getters.GET_DISTRICTS;
            },
            categories_filter:function(){
                var cat_tmp = [];
                this.$store.getters.GET_CATEGORIES.forEach(item=>{
                    // if(item.parent_id!=0){
                        cat_tmp.push(item);
                        if (this.$route.params.slug == item.rewrite) this.cat_name_relationship = item.name;
                        // console.log(this.cat_name_relationship);
                    // }
                });
                // cat_tmp = [...this.$store.getters.GET_CATEGORIES];
                return cat_tmp;
            },
            list_cities:function(){
                return this.$store.getters.GET_CITIES;
            },
            access_token: function(){
                return this.$store.getters.GET_ACCESS_TOKEN;
            }
        },
        methods:{
            checkURL(){
                if(this.$route.query.iCat != null && this.$route.query.page == null){
                    this.cat_id = this.$route.query.iCat;
                    this.cit_id = this.$route.query.iCit;
                    this.dis_id = this.$route.query.iDis;
                    this.$router.push('/search?'+'iCat='+this.cat_id+'&iCit='+this.cit_id+'&iDis='+this.dis_id);
                    // if(this.$route.query.iCit == 0){
                    //     this.$store.dispatch('ACTION_GET_LIST_APP_FILTER',{fields:'id,title,rewrite,price,picture,date,address,list_acreage',where:`cat_id+${this.$route.query.iCat}`});
                    // }
                    // else this.$store.dispatch('ACTION_GET_LIST_APP_FILTER',{fields:'id,title,rewrite,price,picture,date,address,list_acreage',where:`cat_id+${this.$route.query.iCat},cit_id+${this.$route.query.iCit},dis_id+${this.$route.query.iDis}`});
                    this.conditionFilter();

                }

                if(this.$route.query.iCat != null && this.$route.query.page != null){
                    this.cat_id = this.$route.query.iCat;
                    this.cit_id = this.$route.query.iCit;
                    this.dis_id = this.$route.query.iDis;

                    this.$router.push('/search?'+'iCat='+this.cat_id+'&iCit='+this.cit_id+'&iDis='+this.dis_id+'&page='+this.$route.query.page);
                    // if(this.$route.query.iCit == 0){
                    //     this.$store.dispatch('ACTION_GET_LIST_APP_FILTER',{fields:'id,title,rewrite,price,picture,date,address,list_acreage',where:`cat_id+${this.$route.query.iCat}`, page:this.$route.query.page});
                    // }
                    // else this.$store.dispatch('ACTION_GET_LIST_APP_FILTER',{fields:'id,title,rewrite,price,picture,date,address,list_acreage',where:`cat_id+${this.$route.query.iCat},cit_id+${this.$route.query.iCit},dis_id+${this.$route.query.iDis}`, page:this.$route.query.page});
                    this.conditionFilter();
                }
            },
            checkPageFilter(){
                if(this.$route.path != '/search'){
                    this.$router.push('/search?'+'iCat='+this.cat_id+'&iCit='+this.cit_id+'&iDis='+this.dis_id);
                }
            },
            conditionFilter(){
                var condition = '';
                // console.log(this.categories);
                if (this.$route.query.keyword != null) {
                    if (this.$route.query.iCat != 0) condition += `cat_id+${this.$route.query.iCat},`;
                    if (this.$route.query.iCit != 0) condition += `cit_id+${this.$route.query.iCit},`;
                    if (this.$route.query.iDis != 0) condition += `dis_id+${this.$route.query.iDis}`;
                    if (this.$route.query.iDis != 0) condition += `dis_id+${this.$route.query.iDis}`;
                    this.$store.dispatch('ACTION_GET_LIST_APP_FILTER',{fields:'id,title,rewrite,price,picture,date,address,list_acreage,has_picture,user_favorite',where: condition,page:this.$route.query.page, keyword: `${this.$route.query.keyword}`,type: `search`,access_token:this.access_token});
                }
                else {
                    if (this.$route.query.iCat != 0) condition += `cat_id+${this.$route.query.iCat},`;
                    if (this.$route.query.iCit != 0) condition += `cit_id+${this.$route.query.iCit},`;
                    if (this.$route.query.iDis != 0) condition += `dis_id+${this.$route.query.iDis}`;
                    this.$store.dispatch('ACTION_GET_LIST_APP_FILTER',{fields:'id,title,rewrite,price,picture,date,address,list_acreage,has_picture,user_favorite',where: condition ,page:this.$route.query.page,access_token:this.access_token});
                }
            }
        }
    }
</script>