<template>
    <div id="modal-user-contact" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            <div class="modal-header">
                <h4>Vui lòng nhập số điện thoại của bạn ?</h4>
                <span class="close" @click="model_data.open=false">&times;</span>
            </div>
            <div class="modal-body">
                <form >
                  <input type="text" v-model="phone" placeholder="Nhập số điện thoại">
                    <div v-if="!is_number_phone"><small style="color: red">Không đúng định dạng số điện thoại</small></div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="modal-btn-submit" @click="pushData()">Xác nhận</button>
                <button class="modal-btn-cancel" @click="model_data.open=false" >Hủy</button>
            </div>
        </div>
    </div>
</template>

<script>
    import {ApiPost} from "../helper/api";
    export default {
        name: "UserContact",
        props:['model_data'],
        data(){
          return {
              phone:'',
              is_number_phone:true
          }
        },
        watch:{
                phone:function () {
                    var phone = this.phone+"";
                    this.phone = phone.replace(/ |[a-z]|[A-Z]|\.|-|,/g,"");
                    // this.phone = phone;
                },
        },
        mounted() {
            // this.phone = this.modal_data.data.user_phone;
        },
        methods:{
            pushData(){
                if(!this.isMobilePhone(this.phone)){
                    this.is_number_phone  = false;
                    return false;
                }
                this.is_number_phone  = true;
                this.model_data.data.user_phone = this.phone;
                ApiPost('user-contacts',this.model_data.data).then(res=>{
                    alert('Gửi thông tin thành công!');
                }).catch(error=>{
                    console.error('error send contact:',error.message);
                })
            },
            isMobilePhone(s) {
                s = s.replace(/ /g,'');
                var re = /^((84)|(\+84)|(0))([12356789]{1})([0-9]{8})$/;
                return re.test(s);
            },
        }
    }
</script>
<style scoped>
    input{
        width: 100%;
        height: 36px;
        line-height: 34px;
        padding: 0 10px;
        background: #fff;
        border-radius: 2px;
        color: #333;
        border: 1px #ddd solid;
    }
</style>