<template>
    <div id="app">
        <input id="app_control" type="checkbox" v-model="checked">
        <section id="app_2">
            <left-nav></left-nav>
            <div class="page">
                <header-app></header-app>
                <!--<select-filter></select-filter>-->
                <router-view :setStatusLeftNav="setStatusLeftNav"  wait-for="async-data"/>
                <footer-app :setStatusLeftNav="setStatusLeftNav"></footer-app>
                <label id="close_menu" for="app_control">
                    <i class="far fa-times-circle"></i>
                </label>
            </div>
            <div class="alert-favourite">
                <div class="alertlike">Đã thêm tin vào danh sách theo dõi</div>
                <div class="alertdislike">Bạn đã bỏ theo dõi tin</div>
            </div>
        </section>
    </div>
</template>

<script>
    import HeaderApp from './components/HeaderApp'
    import SelectFilter from '@/components/SelectFilter'
    import FooterApp from './components/FooterApp'
    import LeftNav from './components/LeftNav'
    import Cookie from 'js-cookie';
    import {ApiGet} from "./helper/api"

    export default {
        data() {
            return {
                checked: false,

            }
        },
        // updated: function(){
        //   document.getElementById('app').scrollTop = 0;
        // },
        components: {
            HeaderApp,
            SelectFilter,
            FooterApp,
            LeftNav
        },
        watch: {
            $route: function () {
                if (this.checked) this.checked = false;
                this.doScrollTop();
            }
        },
        async beforeCreate() {
            let access_token = Cookie.get('access_token');
            let user_id = Cookie.get('user_id');
            let client_id = Cookie.get('client_id');
            let client_token = Cookie.get('client_token');
            if(client_id) this.$store.commit('SET_CLIENT_ID', parseInt(client_id));
            if(client_token)this.$store.commit('SET_CLIENT_TOKEN', client_token);

            if (access_token) this.$store.commit('SET_ACCESS_TOKEN', access_token);
            if (user_id != null && access_token != null) {
                await ApiGet(`users/${user_id}`, {
                    fields: 'id,address,avatar,email,email_payment,fullname,loginname,mobile,picture,rol',
                    type: 'load_config',
                    access_token: access_token
                }).then(res => {
                    this.$store.commit("SET_CONFIGURATION", res.data.system_config);
                    delete res.data['system_config'];
                    this.$store.commit('SET_USER_INFO', res.data);
                }).catch(e => {
                    console.log('get info user error:', e.response);
                    alert('get info user error:' + JSON.stringify(e.response));
                })
            } else {
                var fields = 'chat_on';
                if (client_id == null) {
                    fields += ',client_id';
                } else {
                    this.$store.commit('SET_CLIENT_ID', parseInt(client_id));
                    this.$store.commit('SET_CLIENT_TOKEN', client_token);
                }
                await ApiGet('configuration', {fields: fields}).then(res => {
                    this.$store.commit("SET_CONFIGURATION", res.data);
                    if (typeof res.data.client_id != "undefined") {
                        Cookie.set('client_id', res.data.client_id);
                        Cookie.set('client_token', res.data.client_token);
                        this.$store.commit('SET_CLIENT_ID', parseInt(res.data.client_id));
                        this.$store.commit('SET_CLIENT_TOKEN', res.data.client_token);

                    }
                }).catch(e => {
                    console.log('get info user error:', e.message);
                })
            }
            this.$store.dispatch('ACTION_CATEGORIES');
        },
        created() {
            window.vue_handle.voiceRecognitionSpeechResults = this.voiceRecognitionSpeechResults;
            window.vue_handle.voiceRecognitionRecognizing = this.voiceRecognitionRecognizing;
            window.vue_handle.voiceRecognitionAvailable = this.voiceRecognitionAvailable;
            window.vue_handle.fcmToken = this.fcmToken;
            window.vue_handle.uploadGallery = this.uploadGallery;
            window.vue_handle.uploadCamera = this.uploadCamera;
        },
        mounted() {
        },
        methods: {
            doScrollTop() {
                document.getElementById('app').scroll(0, 0)
            },
            setStatusLeftNav(value) {
                this.checked = value;
            },
            voiceRecognitionSpeechResults(message) {
                alert('voiceRecognitionSpeechResults:'+JSON.stringify(message));
            },
            voiceRecognitionRecognizing(message) {
                alert('voiceRecognitionRecognizing'+JSON.stringify(message));
            },
            voiceRecognitionAvailable(message) {
                alert('voiceRecognitionAvailable'+JSON.stringify(message));
            },
            fcmToken(message) {
                alert('fcmToken 62347236');
            },
            voiceRecognitionSpeechError(message) {
                alert('voiceRecognitionSpeechError'+JSON.stringify(message));
            },
            uploadGallery(message) {
                alert('uploadGallery'+JSON.stringify(message));
            }, uploadCamera(message) {
                alert('uploadCamera'+JSON.stringify(message));
            }
        }

    }
</script>
<style lang="scss">
    @import "assets/scss/style";
</style>
